body {
  font-family: $reg;

  &.lb-open {
    overflow: hidden;
  }
}

// Floats
.f {

  &l {
    float: left;
  }

  &r {
    float: right;
  }
}

// Btns
.btn {
  display: block;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  width: 194px;
  padding: 8px 10px 7px;
  color: $white;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  transition: $trans;
  line-height: 1.2;
  cursor: pointer;
  margin: 10px auto;

  &-shad {
    box-shadow: 0 5px 5px rgba($black, .37);

    &:hover {
      box-shadow: 0 5px 5px rgba($black, .25);
    }

    &:active {
      box-shadow: 0 5px 5px rgba($black, .18);
    }
  }

  &-gray {
    background-color: $gray6a;

    &:hover {
      background-color: darken($gray6a, 8%);
    }
  }

  &-blue {
    background-color: $blue6e;

    &:hover {
      background-color: darken($blue6e, 8%);
    }
  }

  &-red {
    background-color: $rede1;

    &:hover {
      background-color: $redee;
    }
  }

  &-white {
    border: 1px solid $grayae;
    color: $gray9;

    &:hover {
      background-color: $grayae;
      color: $white;
    }
  }
}

// Main link
.m-link {
  color: $redc9;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

// Titles
.l-title {
  font-size: 27px;
  color: $gray6;
  margin: em(15, 27) 0;
}

.m-title {
  font-size: 30px;
  color: $gray6;
  margin: em(15, 30) 0;
}

.h-title {
  font-size: 34px;
  color: $gray6;
  margin: em(15, 34) 0;
  position: relative;
  padding: 0 15px;

  .icon {
    position: absolute;
    left: 15px;
    top: 20px;
    transform: translateY(-50%);
    margin-right: 20px;

    & + span {
      display: block;
      padding-left: 50px;
    }
  }
}


// Main container
.container {
  width: 1024px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 9px;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
}


.content {
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
}

.sb {
  width: 250px;
  box-sizing: border-box;
  margin-right: 28px;

  &-r {
    margin-left: 43px;
    margin-right: 0;
    padding-right: 10px;
  }
}

// Inputs
.inp {

  &-wrap {
    display: block;
    position: relative;
  }

  &-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background: none;
    border: none;
    font-size: 14px;
    padding: 9px 13px;
    color: inherit;
    resize: none;
    outline: none;
    @include placeholder(inherit);

    &:focus {
      &::-webkit-input-placeholder {opacity: 0}
      &::-moz-placeholder          {opacity: 0}
      &:-moz-placeholder           {opacity: 0}
      &:-ms-input-placeholder      {opacity: 0}
    }
  }
}

.textarea {
}

// checkbox
.checkbox {

  &-wrap {
    position: relative;

    input {
      display: none;

      &:checked {

        & + .checkbox-label {


          &:after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }

  &-label {
    display: inline-block;
    @extend %clearfix;
    font-size: 14px;
    color: $white;
    position: relative;
    transition: color $trans;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #ffbfb1;
    }

    &:before {
      content: '';
      float: left;
      width: 14px;
      margin-top: 1px;
      height: 14px;
      box-sizing: border-box;
      border: 1px solid $red88;
      background: $white;
      margin-right: 15px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 3px;
      top: 4px;
      opacity: 0;
      width: 8px;
      height: 8px;
      background: $red88;
      transition: .1s linear;
      transform: scale(0);
    }
  }

}

// media
.media {
  display: table;
  width: 100%;
  box-sizing: border-box;

  &-top {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
  }

  &-middle {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
  }
}


// tabs
.tabs-section {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;

  &s {
    position: relative;
  }

  &.active {
    height: auto;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    transition: .6s linear;
    position: relative;
  }
}


// dropdown
.dd-wrap {
  position: relative;
}

.dd {
  position: absolute;
  top: 100%;
  transform: scale(0.85);
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s linear, opacity .2s linear, transform .2s linear;

  .dd-open & {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}


// selects
.select {
  position: relative;
  z-index: 1;
  margin: 10px 0;
  border-radius: 3px;


  &-red {
    color: $white;
  }

  &-worange {
    color: $gray9;
  }

  &-wgray {
    color: $gray9;
  }

  &-show {
    position: relative;
    border-radius: 3px;
    padding: 5px 25px 5px 12px;
    cursor: pointer;
    transition: $trans;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }

    .select-red & {
      background: $redd2;
    }

    .select-worange & {
      background: $white;
      padding: 7px 25px 7px 12px;
    }

    .select-wgray & {
      background: $white;
      padding: 7px 25px 7px 12px;
    }


    .dd-open & {
      border-radius: 3px 3px 0 0;

      &:after {
        transform: rotateX(-180deg);
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transition: $trans;

      .select-red & {
        @include sprite($ic-select-arr);
        margin-top: -4px;
      }

      .select-worange & {
        margin-top: -5px;
        @include sprite($ic-rselect-arr);
      }

      .select-wgray & {
        margin-top: -4px;
        @include sprite($ic-arr-wgray);
      }
    }
  }

  &-dd {
    width: 100%;
    border-radius: 0 0 3px 3px;
    max-height: 190px;
    padding: 8px 0;

    .select-red & {
      background: $redd2;
    }

    .select-worange & {
      background: $white;
      border: 1px solid $redc9;
      border-top: none;
      margin-top: -1px;
      margin-left: -1px;
    }

    .select-wgray & {
      background: $white;
      border: 1px solid $grayae;
      border-top: none;
      margin-top: -1px;
      margin-left: -1px;
    }

    li {
      padding: 7px 12px 6px 12px;
      cursor: pointer;
      transition: $trans;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover {

        .select-red & {
          background-color: darken($redd2, 7%);
        }

        .select-worange & {
          background-color: lighten($gray9, 30%);
        }

        .select-wgray & {
          background-color: lighten($gray9, 30%);
        }
      }

      .select-worange & {
        padding: 9px 12px 8px 12px;
      }

      .select-wgray & {
        padding: 9px 12px 8px 12px;
      }
    }
  }

  &.select-red {

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: $red9b;
    }
  }

  &.select-worange {
    border: 1px solid $redc9;

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: $redc9;
    }
  }

  &.select-wgray {
    border: 1px solid $grayae;

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: $grayae;
    }
  }
}

.select-list {

  li.active {
    display: none;
  }
}

.rating {

  &-wrap {
    @extend %clearfix;
  }

  &-stars {
    display: inline-block;
  }

  &-star {
    float: left;

    &.rating-star__g {

      .rating-low & {
        @include sprite($icon-star);

        &.active {
          @include sprite($icon-gstar);
        }
      }
    }

    &.rating-star__w {

      .rating-middle & {
        @include sprite($ic-wstar-mid);

        &.active {
          @include sprite($ic-gstar-mid);
        }
      }
    }
  }

  &-voted {
    color: $yeld6;
    text-align: right;
    float: right;
    margin-left: 5px;

    .rating-low  & {
      font-size: 13px;
      min-width: 35px;
    }

    .rating-middle & {
      font-size: 27px;
      min-width: 85px;
      margin-top: -3px;
    }
  }
}

.t-strip {
  position: relative;

  &:before {
    content: '';
    background: $graye2;
    height: 100px;
    display: block;
    margin-bottom: -100px;
  }
}

// Img box
.img-box {
  box-sizing: border-box;
  border: 7px solid $graydc;
  position: relative;
  background-size: cover;
  margin: 0 auto;
  display: block;
  transition: border $trans;

  &.box-white {
    border-color: $white;
  }

  &.box200 {
    height: 120px;
    width: 200px;
  }

  &.box230 {
    width: 230px;
    height: 140px;
  }

  &.box150 {
    width: 150px;
    height: 90px;
  }

  span {
    font-size: 54px;
    font-family: $bold;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba($white, .7);
    line-height: 1;
    margin-right: 8px;
    transition: color $trans;
  }
}


a.img-box:hover {
  border-color: $grayb5;

  span {
    color: $white;
  }
}

// Avatar
.avatar-box {
  width: 50px;
  height: 50px;
  border: 3px solid $white;
  display: block;
  margin: 0 auto;
  background: url(../images/avatars/placehold.png) no-repeat center;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;

  &__t {
    width: 58px;
    height: 58px;
    border-width: 4px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  &__l {
    width: 38px;
    height: 38px;
    border-width: 2px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  &.gray {
    border-color: $graydc;
  }

  &.green {
    border-color: $green76
  }
}


// Breadcrumbs
.breadcrumbs {
  margin: em(15px, 13px) 0;
  font-size: 13px;

  li {
    color: $gray6;
    display: inline-block;

    &:after {
      content: '/';
      margin-left: 4px;
    }

    &:last-child:after {
      content: none;
    }
  }
  a {
    color: $gray81;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

// Sliders
.img-carousel {
  margin: 0 -5px;

  &__wrap {
    overflow: hidden;
  }

  .slide {
    width: 240px;
    box-sizing: border-box;
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    transition: $trans;
    width: 30px;
    background-color: rgba($black, .3);
    border: none;
    text-indent: -99999px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: rgba($black, .5);
    }

    &.slick-disabled {
      opacity: 0;
    }

    &:after {
      content: '';
      top: 50%;
      left: 50%;
      margin-left: -5px;
      margin-top: -9px;
      display: block;
      position: absolute;
    }
  }

  .slick-prev {
    left: 5px;

    &:after {
      @include sprite($ic-arrow-lw);
    }
  }

  .slick-next {
    right: 5px;

    &:after {
      @include sprite($ic-arrow-rw);
    }
  }
}

.n-know {

  &-block {
    color: $gray6;
    line-height: 1.4;
  }

  &-title {
    font-size: 18px;
    margin: em(15px, 18px) 0;

    .n-know-high & {
      font-size: 20px;
    }
  }

  &-text {
    font-size: 14px;
    margin: em(14px, 14px) 0;

    .n-know-high & {
      font-size: 16px;
    }
  }

  &-link {
    color: $redc9;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Tooltip
.tooltip {
  position: fixed;
  z-index: 9999;
  background: $redc9;
  font-size: 11px;
  color: $white;
  max-width: 245px;
  padding: 4px 10px 3px;

  &:before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
  }

  &.top {
    margin-top: -6px;
    border-radius: 2px 2px 2px 0;

    &:before {
      top: 100%;
      left: 0;
      margin-top: -6px;
      border-left-color: $redc9;
    }
  }

  &.bottom {
    margin-top: 6px;
    border-radius: 0 2px 2px 2px;

    &:before {
      bottom: 100%;
      left: 0;
      margin-bottom: -6px;
      border-left-color: $redc9;
    }
  }

  &.left.top {
    margin-top: -6px;
    border-radius: 2px 2px 0 2px;

    &:before {
      top: 100%;
      right: 0;
      margin-top: -6px;
      border-color: transparent;
      border-right-color: $redc9;
    }
  }

  &.left.bottom {
    margin-top: 6px;
    border-radius: 2px 0 2px 2px;

    &:before {
      bottom: 100%;
      right: 0;
      margin-top: -6px;
      border-color: transparent;
      border-right-color: $redc9;
    }
  }
}
