// Fonts
@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: url('../fonts/ProximaNova-ThinIt.eot');
  src: url('../fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-ThinIt.woff') format('woff'),
       url('../fonts/ProximaNova-ThinIt.ttf') format('truetype'),
       url('../fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-LightI';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-LightIt.woff') format('woff'),
       url('../fonts/ProximaNova-LightIt.ttf') format('truetype'),
       url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Italic';
  src: url('../fonts/ProximaNova-Italic.eot');
  src: url('../fonts/ProximaNova-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Italic.woff') format('woff'),
       url('../fonts/ProximaNova-Italic.ttf') format('truetype'),
       url('../fonts/ProximaNova-Italic.svg#ProximaNova-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-CBold';
  src: url('../fonts/ProximaNova-CBold.eot');
  src: url('../fonts/ProximaNova-CBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-CBold.woff') format('woff'),
       url('../fonts/ProximaNova-CBold.ttf') format('truetype'),
       url('../fonts/ProximaNova-CBold.svg#ProximaNova-CBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-SBoldIt';
  src: url('../fonts/ProximaNova-SBoldIt.eot');
  src: url('../fonts/ProximaNova-SBoldIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-SBoldIt.woff') format('woff'),
       url('../fonts/ProximaNova-SBoldIt.ttf') format('truetype'),
       url('../fonts/ProximaNova-SBoldIt.svg#ProximaNova-SBoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
