// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$add-low-name: 'add-low';
$add-low-x: 182px;
$add-low-y: 134px;
$add-low-offset-x: -182px;
$add-low-offset-y: -134px;
$add-low-width: 7px;
$add-low-height: 7px;
$add-low-total-width: 543px;
$add-low-total-height: 472px;
$add-low-image: '../images/sprites/sprite.png';
$add-low: (182px, 134px, -182px, -134px, 7px, 7px, 543px, 472px, '../images/sprites/sprite.png', 'add-low', );
$ic-arr-wgray-name: 'ic-arr-wgray';
$ic-arr-wgray-x: 486px;
$ic-arr-wgray-y: 392px;
$ic-arr-wgray-offset-x: -486px;
$ic-arr-wgray-offset-y: -392px;
$ic-arr-wgray-width: 11px;
$ic-arr-wgray-height: 7px;
$ic-arr-wgray-total-width: 543px;
$ic-arr-wgray-total-height: 472px;
$ic-arr-wgray-image: '../images/sprites/sprite.png';
$ic-arr-wgray: (486px, 392px, -486px, -392px, 11px, 7px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arr-wgray', );
$ic-arr-wred-name: 'ic-arr-wred';
$ic-arr-wred-x: 486px;
$ic-arr-wred-y: 355px;
$ic-arr-wred-offset-x: -486px;
$ic-arr-wred-offset-y: -355px;
$ic-arr-wred-width: 11px;
$ic-arr-wred-height: 7px;
$ic-arr-wred-total-width: 543px;
$ic-arr-wred-total-height: 472px;
$ic-arr-wred-image: '../images/sprites/sprite.png';
$ic-arr-wred: (486px, 355px, -486px, -355px, 11px, 7px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arr-wred', );
$ic-arrow-l-name: 'ic-arrow-l';
$ic-arrow-l-x: 528px;
$ic-arrow-l-y: 289px;
$ic-arrow-l-offset-x: -528px;
$ic-arrow-l-offset-y: -289px;
$ic-arrow-l-width: 11px;
$ic-arrow-l-height: 19px;
$ic-arrow-l-total-width: 543px;
$ic-arrow-l-total-height: 472px;
$ic-arrow-l-image: '../images/sprites/sprite.png';
$ic-arrow-l: (528px, 289px, -528px, -289px, 11px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-l', );
$ic-arrow-lh-name: 'ic-arrow-lh';
$ic-arrow-lh-x: 528px;
$ic-arrow-lh-y: 142px;
$ic-arrow-lh-offset-x: -528px;
$ic-arrow-lh-offset-y: -142px;
$ic-arrow-lh-width: 11px;
$ic-arrow-lh-height: 19px;
$ic-arrow-lh-total-width: 543px;
$ic-arrow-lh-total-height: 472px;
$ic-arrow-lh-image: '../images/sprites/sprite.png';
$ic-arrow-lh: (528px, 142px, -528px, -142px, 11px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-lh', );
$ic-arrow-llow-name: 'ic-arrow-llow';
$ic-arrow-llow-x: 486px;
$ic-arrow-llow-y: 99px;
$ic-arrow-llow-offset-x: -486px;
$ic-arrow-llow-offset-y: -99px;
$ic-arrow-llow-width: 9px;
$ic-arrow-llow-height: 17px;
$ic-arrow-llow-total-width: 543px;
$ic-arrow-llow-total-height: 472px;
$ic-arrow-llow-image: '../images/sprites/sprite.png';
$ic-arrow-llow: (486px, 99px, -486px, -99px, 9px, 17px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-llow', );
$ic-arrow-lw-name: 'ic-arrow-lw';
$ic-arrow-lw-x: 528px;
$ic-arrow-lw-y: 191px;
$ic-arrow-lw-offset-x: -528px;
$ic-arrow-lw-offset-y: -191px;
$ic-arrow-lw-width: 11px;
$ic-arrow-lw-height: 19px;
$ic-arrow-lw-total-width: 543px;
$ic-arrow-lw-total-height: 472px;
$ic-arrow-lw-image: '../images/sprites/sprite.png';
$ic-arrow-lw: (528px, 191px, -528px, -191px, 11px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-lw', );
$ic-arrow-rlow-name: 'ic-arrow-rlow';
$ic-arrow-rlow-x: 486px;
$ic-arrow-rlow-y: 52px;
$ic-arrow-rlow-offset-x: -486px;
$ic-arrow-rlow-offset-y: -52px;
$ic-arrow-rlow-width: 9px;
$ic-arrow-rlow-height: 17px;
$ic-arrow-rlow-total-width: 543px;
$ic-arrow-rlow-total-height: 472px;
$ic-arrow-rlow-image: '../images/sprites/sprite.png';
$ic-arrow-rlow: (486px, 52px, -486px, -52px, 9px, 17px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-rlow', );
$ic-arrow-rw-name: 'ic-arrow-rw';
$ic-arrow-rw-x: 528px;
$ic-arrow-rw-y: 240px;
$ic-arrow-rw-offset-x: -528px;
$ic-arrow-rw-offset-y: -240px;
$ic-arrow-rw-width: 11px;
$ic-arrow-rw-height: 19px;
$ic-arrow-rw-total-width: 543px;
$ic-arrow-rw-total-height: 472px;
$ic-arrow-rw-image: '../images/sprites/sprite.png';
$ic-arrow-rw: (528px, 240px, -528px, -240px, 11px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'ic-arrow-rw', );
$ic-aw-gor-name: 'ic-aw-gor';
$ic-aw-gor-x: 220px;
$ic-aw-gor-y: 0px;
$ic-aw-gor-offset-x: -220px;
$ic-aw-gor-offset-y: 0px;
$ic-aw-gor-width: 26px;
$ic-aw-gor-height: 31px;
$ic-aw-gor-total-width: 543px;
$ic-aw-gor-total-height: 472px;
$ic-aw-gor-image: '../images/sprites/sprite.png';
$ic-aw-gor: (220px, 0px, -220px, 0px, 26px, 31px, 543px, 472px, '../images/sprites/sprite.png', 'ic-aw-gor', );
$ic-aw-or-name: 'ic-aw-or';
$ic-aw-or-x: 102px;
$ic-aw-or-y: 306px;
$ic-aw-or-offset-x: -102px;
$ic-aw-or-offset-y: -306px;
$ic-aw-or-width: 21px;
$ic-aw-or-height: 24px;
$ic-aw-or-total-width: 543px;
$ic-aw-or-total-height: 472px;
$ic-aw-or-image: '../images/sprites/sprite.png';
$ic-aw-or: (102px, 306px, -102px, -306px, 21px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'ic-aw-or', );
$ic-azs-gg-name: 'ic-azs-gg';
$ic-azs-gg-x: 204px;
$ic-azs-gg-y: 306px;
$ic-azs-gg-offset-x: -204px;
$ic-azs-gg-offset-y: -306px;
$ic-azs-gg-width: 21px;
$ic-azs-gg-height: 24px;
$ic-azs-gg-total-width: 543px;
$ic-azs-gg-total-height: 472px;
$ic-azs-gg-image: '../images/sprites/sprite.png';
$ic-azs-gg: (204px, 306px, -204px, -306px, 21px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'ic-azs-gg', );
$ic-azs-gr-name: 'ic-azs-gr';
$ic-azs-gr-x: 388px;
$ic-azs-gr-y: 108px;
$ic-azs-gr-offset-x: -388px;
$ic-azs-gr-offset-y: -108px;
$ic-azs-gr-width: 18px;
$ic-azs-gr-height: 22px;
$ic-azs-gr-total-width: 543px;
$ic-azs-gr-total-height: 472px;
$ic-azs-gr-image: '../images/sprites/sprite.png';
$ic-azs-gr: (388px, 108px, -388px, -108px, 18px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'ic-azs-gr', );
$ic-comments-low-name: 'ic-comments-low';
$ic-comments-low-x: 0px;
$ic-comments-low-y: 410px;
$ic-comments-low-offset-x: 0px;
$ic-comments-low-offset-y: -410px;
$ic-comments-low-width: 20px;
$ic-comments-low-height: 16px;
$ic-comments-low-total-width: 543px;
$ic-comments-low-total-height: 472px;
$ic-comments-low-image: '../images/sprites/sprite.png';
$ic-comments-low: (0px, 410px, 0px, -410px, 20px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'ic-comments-low', );
$ic-comments-name: 'ic-comments';
$ic-comments-x: 62px;
$ic-comments-y: 193px;
$ic-comments-offset-x: -62px;
$ic-comments-offset-y: -193px;
$ic-comments-width: 27px;
$ic-comments-height: 24px;
$ic-comments-total-width: 543px;
$ic-comments-total-height: 472px;
$ic-comments-image: '../images/sprites/sprite.png';
$ic-comments: (62px, 193px, -62px, -193px, 27px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'ic-comments', );
$ic-footer-search-name: 'ic-footer-search';
$ic-footer-search-x: 50px;
$ic-footer-search-y: 360px;
$ic-footer-search-offset-x: -50px;
$ic-footer-search-offset-y: -360px;
$ic-footer-search-width: 20px;
$ic-footer-search-height: 20px;
$ic-footer-search-total-width: 543px;
$ic-footer-search-total-height: 472px;
$ic-footer-search-image: '../images/sprites/sprite.png';
$ic-footer-search: (50px, 360px, -50px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'ic-footer-search', );
$ic-gstar-mid-name: 'ic-gstar-mid';
$ic-gstar-mid-x: 333px;
$ic-gstar-mid-y: 222px;
$ic-gstar-mid-offset-x: -333px;
$ic-gstar-mid-offset-y: -222px;
$ic-gstar-mid-width: 25px;
$ic-gstar-mid-height: 23px;
$ic-gstar-mid-total-width: 543px;
$ic-gstar-mid-total-height: 472px;
$ic-gstar-mid-image: '../images/sprites/sprite.png';
$ic-gstar-mid: (333px, 222px, -333px, -222px, 25px, 23px, 543px, 472px, '../images/sprites/sprite.png', 'ic-gstar-mid', );
$ic-lb-close-name: 'ic-lb-close';
$ic-lb-close-x: 388px;
$ic-lb-close-y: 314px;
$ic-lb-close-offset-x: -388px;
$ic-lb-close-offset-y: -314px;
$ic-lb-close-width: 17px;
$ic-lb-close-height: 16px;
$ic-lb-close-total-width: 543px;
$ic-lb-close-total-height: 472px;
$ic-lb-close-image: '../images/sprites/sprite.png';
$ic-lb-close: (388px, 314px, -388px, -314px, 17px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'ic-lb-close', );
$ic-lb-next-name: 'ic-lb-next';
$ic-lb-next-x: 437px;
$ic-lb-next-y: 245px;
$ic-lb-next-offset-x: -437px;
$ic-lb-next-offset-y: -245px;
$ic-lb-next-width: 14px;
$ic-lb-next-height: 22px;
$ic-lb-next-total-width: 543px;
$ic-lb-next-total-height: 472px;
$ic-lb-next-image: '../images/sprites/sprite.png';
$ic-lb-next: (437px, 245px, -437px, -245px, 14px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'ic-lb-next', );
$ic-lb-prev-name: 'ic-lb-prev';
$ic-lb-prev-x: 437px;
$ic-lb-prev-y: 193px;
$ic-lb-prev-offset-x: -437px;
$ic-lb-prev-offset-y: -193px;
$ic-lb-prev-width: 14px;
$ic-lb-prev-height: 22px;
$ic-lb-prev-total-width: 543px;
$ic-lb-prev-total-height: 472px;
$ic-lb-prev-image: '../images/sprites/sprite.png';
$ic-lb-prev: (437px, 193px, -437px, -193px, 14px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'ic-lb-prev', );
$ic-pstar-low-name: 'ic-pstar-low';
$ic-pstar-low-x: 528px;
$ic-pstar-low-y: 432px;
$ic-pstar-low-offset-x: -528px;
$ic-pstar-low-offset-y: -432px;
$ic-pstar-low-width: 15px;
$ic-pstar-low-height: 14px;
$ic-pstar-low-total-width: 543px;
$ic-pstar-low-total-height: 472px;
$ic-pstar-low-image: '../images/sprites/sprite.png';
$ic-pstar-low: (528px, 432px, -528px, -432px, 15px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'ic-pstar-low', );
$ic-rselect-arr-name: 'ic-rselect-arr';
$ic-rselect-arr-x: 192px;
$ic-rselect-arr-y: 410px;
$ic-rselect-arr-offset-x: -192px;
$ic-rselect-arr-offset-y: -410px;
$ic-rselect-arr-width: 16px;
$ic-rselect-arr-height: 10px;
$ic-rselect-arr-total-width: 543px;
$ic-rselect-arr-total-height: 472px;
$ic-rselect-arr-image: '../images/sprites/sprite.png';
$ic-rselect-arr: (192px, 410px, -192px, -410px, 16px, 10px, 543px, 472px, '../images/sprites/sprite.png', 'ic-rselect-arr', );
$ic-select-arr-name: 'ic-select-arr';
$ic-select-arr-x: 288px;
$ic-select-arr-y: 410px;
$ic-select-arr-offset-x: -288px;
$ic-select-arr-offset-y: -410px;
$ic-select-arr-width: 11px;
$ic-select-arr-height: 6px;
$ic-select-arr-total-width: 543px;
$ic-select-arr-total-height: 472px;
$ic-select-arr-image: '../images/sprites/sprite.png';
$ic-select-arr: (288px, 410px, -288px, -410px, 11px, 6px, 543px, 472px, '../images/sprites/sprite.png', 'ic-select-arr', );
$ic-sep-arr-name: 'ic-sep-arr';
$ic-sep-arr-x: 329px;
$ic-sep-arr-y: 410px;
$ic-sep-arr-offset-x: -329px;
$ic-sep-arr-offset-y: -410px;
$ic-sep-arr-width: 10px;
$ic-sep-arr-height: 6px;
$ic-sep-arr-total-width: 543px;
$ic-sep-arr-total-height: 472px;
$ic-sep-arr-image: '../images/sprites/sprite.png';
$ic-sep-arr: (329px, 410px, -329px, -410px, 10px, 6px, 543px, 472px, '../images/sprites/sprite.png', 'ic-sep-arr', );
$ic-tick-gray-name: 'ic-tick-gray';
$ic-tick-gray-x: 486px;
$ic-tick-gray-y: 188px;
$ic-tick-gray-offset-x: -486px;
$ic-tick-gray-offset-y: -188px;
$ic-tick-gray-width: 12px;
$ic-tick-gray-height: 12px;
$ic-tick-gray-total-width: 543px;
$ic-tick-gray-total-height: 472px;
$ic-tick-gray-image: '../images/sprites/sprite.png';
$ic-tick-gray: (486px, 188px, -486px, -188px, 12px, 12px, 543px, 472px, '../images/sprites/sprite.png', 'ic-tick-gray', );
$ic-wcomments-name: 'ic-wcomments';
$ic-wcomments-x: 353px;
$ic-wcomments-y: 360px;
$ic-wcomments-offset-x: -353px;
$ic-wcomments-offset-y: -360px;
$ic-wcomments-width: 20px;
$ic-wcomments-height: 16px;
$ic-wcomments-total-width: 543px;
$ic-wcomments-total-height: 472px;
$ic-wcomments-image: '../images/sprites/sprite.png';
$ic-wcomments: (353px, 360px, -353px, -360px, 20px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'ic-wcomments', );
$ic-wstar-mid-name: 'ic-wstar-mid';
$ic-wstar-mid-x: 333px;
$ic-wstar-mid-y: 114px;
$ic-wstar-mid-offset-x: -333px;
$ic-wstar-mid-offset-y: -114px;
$ic-wstar-mid-width: 25px;
$ic-wstar-mid-height: 23px;
$ic-wstar-mid-total-width: 543px;
$ic-wstar-mid-total-height: 472px;
$ic-wstar-mid-image: '../images/sprites/sprite.png';
$ic-wstar-mid: (333px, 114px, -333px, -114px, 25px, 23px, 543px, 472px, '../images/sprites/sprite.png', 'ic-wstar-mid', );
$ic-ystar-low-name: 'ic-ystar-low';
$ic-ystar-low-x: 528px;
$ic-ystar-low-y: 388px;
$ic-ystar-low-offset-x: -528px;
$ic-ystar-low-offset-y: -388px;
$ic-ystar-low-width: 15px;
$ic-ystar-low-height: 14px;
$ic-ystar-low-total-width: 543px;
$ic-ystar-low-total-height: 472px;
$ic-ystar-low-image: '../images/sprites/sprite.png';
$ic-ystar-low: (528px, 388px, -528px, -388px, 15px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'ic-ystar-low', );
$icon-add-avatar-name: 'icon-add-avatar';
$icon-add-avatar-x: 437px;
$icon-add-avatar-y: 145px;
$icon-add-avatar-offset-x: -437px;
$icon-add-avatar-offset-y: -145px;
$icon-add-avatar-width: 18px;
$icon-add-avatar-height: 18px;
$icon-add-avatar-total-width: 543px;
$icon-add-avatar-total-height: 472px;
$icon-add-avatar-image: '../images/sprites/sprite.png';
$icon-add-avatar: (437px, 145px, -437px, -145px, 18px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-add-avatar', );
$icon-arrs-name: 'icon-arrs';
$icon-arrs-x: 437px;
$icon-arrs-y: 48px;
$icon-arrs-offset-x: -437px;
$icon-arrs-offset-y: -48px;
$icon-arrs-width: 18px;
$icon-arrs-height: 19px;
$icon-arrs-total-width: 543px;
$icon-arrs-total-height: 472px;
$icon-arrs-image: '../images/sprites/sprite.png';
$icon-arrs: (437px, 48px, -437px, -48px, 18px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'icon-arrs', );
$icon-aw-w-name: 'icon-aw-w';
$icon-aw-w-x: 153px;
$icon-aw-w-y: 306px;
$icon-aw-w-offset-x: -153px;
$icon-aw-w-offset-y: -306px;
$icon-aw-w-width: 21px;
$icon-aw-w-height: 24px;
$icon-aw-w-total-width: 543px;
$icon-aw-w-total-height: 472px;
$icon-aw-w-image: '../images/sprites/sprite.png';
$icon-aw-w: (153px, 306px, -153px, -306px, 21px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'icon-aw-w', );
$icon-aw-name: 'icon-aw';
$icon-aw-x: 0px;
$icon-aw-y: 306px;
$icon-aw-offset-x: 0px;
$icon-aw-offset-y: -306px;
$icon-aw-width: 21px;
$icon-aw-height: 24px;
$icon-aw-total-width: 543px;
$icon-aw-total-height: 472px;
$icon-aw-image: '../images/sprites/sprite.png';
$icon-aw: (0px, 306px, 0px, -306px, 21px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'icon-aw', );
$icon-azs-gb-name: 'icon-azs-gb';
$icon-azs-gb-x: 0px;
$icon-azs-gb-y: 248px;
$icon-azs-gb-offset-x: 0px;
$icon-azs-gb-offset-y: -248px;
$icon-azs-gb-width: 24px;
$icon-azs-gb-height: 28px;
$icon-azs-gb-total-width: 543px;
$icon-azs-gb-total-height: 472px;
$icon-azs-gb-image: '../images/sprites/sprite.png';
$icon-azs-gb: (0px, 248px, 0px, -248px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gb', );
$icon-azs-gd-name: 'icon-azs-gd';
$icon-azs-gd-x: 162px;
$icon-azs-gd-y: 248px;
$icon-azs-gd-offset-x: -162px;
$icon-azs-gd-offset-y: -248px;
$icon-azs-gd-width: 24px;
$icon-azs-gd-height: 28px;
$icon-azs-gd-total-width: 543px;
$icon-azs-gd-total-height: 472px;
$icon-azs-gd-image: '../images/sprites/sprite.png';
$icon-azs-gd: (162px, 248px, -162px, -248px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gd', );
$icon-azs-gg-name: 'icon-azs-gg';
$icon-azs-gg-x: 54px;
$icon-azs-gg-y: 248px;
$icon-azs-gg-offset-x: -54px;
$icon-azs-gg-offset-y: -248px;
$icon-azs-gg-width: 24px;
$icon-azs-gg-height: 28px;
$icon-azs-gg-total-width: 543px;
$icon-azs-gg-total-height: 472px;
$icon-azs-gg-image: '../images/sprites/sprite.png';
$icon-azs-gg: (54px, 248px, -54px, -248px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gg', );
$icon-azs-go-name: 'icon-azs-go';
$icon-azs-go-x: 220px;
$icon-azs-go-y: 119px;
$icon-azs-go-offset-x: -220px;
$icon-azs-go-offset-y: -119px;
$icon-azs-go-width: 24px;
$icon-azs-go-height: 28px;
$icon-azs-go-total-width: 543px;
$icon-azs-go-total-height: 472px;
$icon-azs-go-image: '../images/sprites/sprite.png';
$icon-azs-go: (220px, 119px, -220px, -119px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-go', );
$icon-azs-gr-name: 'icon-azs-gr';
$icon-azs-gr-x: 108px;
$icon-azs-gr-y: 248px;
$icon-azs-gr-offset-x: -108px;
$icon-azs-gr-offset-y: -248px;
$icon-azs-gr-width: 24px;
$icon-azs-gr-height: 28px;
$icon-azs-gr-total-width: 543px;
$icon-azs-gr-total-height: 472px;
$icon-azs-gr-image: '../images/sprites/sprite.png';
$icon-azs-gr: (108px, 248px, -108px, -248px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gr', );
$icon-azs-gt-name: 'icon-azs-gt';
$icon-azs-gt-x: 220px;
$icon-azs-gt-y: 61px;
$icon-azs-gt-offset-x: -220px;
$icon-azs-gt-offset-y: -61px;
$icon-azs-gt-width: 24px;
$icon-azs-gt-height: 28px;
$icon-azs-gt-total-width: 543px;
$icon-azs-gt-total-height: 472px;
$icon-azs-gt-image: '../images/sprites/sprite.png';
$icon-azs-gt: (220px, 61px, -220px, -61px, 24px, 28px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gt', );
$icon-azs-gw-name: 'icon-azs-gw';
$icon-azs-gw-x: 276px;
$icon-azs-gw-y: 119px;
$icon-azs-gw-offset-x: -276px;
$icon-azs-gw-offset-y: -119px;
$icon-azs-gw-width: 25px;
$icon-azs-gw-height: 29px;
$icon-azs-gw-total-width: 543px;
$icon-azs-gw-total-height: 472px;
$icon-azs-gw-image: '../images/sprites/sprite.png';
$icon-azs-gw: (276px, 119px, -276px, -119px, 25px, 29px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-gw', );
$icon-azs-w-name: 'icon-azs-w';
$icon-azs-w-x: 388px;
$icon-azs-w-y: 56px;
$icon-azs-w-offset-x: -388px;
$icon-azs-w-offset-y: -56px;
$icon-azs-w-width: 18px;
$icon-azs-w-height: 22px;
$icon-azs-w-total-width: 543px;
$icon-azs-w-total-height: 472px;
$icon-azs-w-image: '../images/sprites/sprite.png';
$icon-azs-w: (388px, 56px, -388px, -56px, 18px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs-w', );
$icon-azs-name: 'icon-azs';
$icon-azs-x: 437px;
$icon-azs-y: 350px;
$icon-azs-offset-x: -437px;
$icon-azs-offset-y: -350px;
$icon-azs-width: 16px;
$icon-azs-height: 19px;
$icon-azs-total-width: 543px;
$icon-azs-total-height: 472px;
$icon-azs-image: '../images/sprites/sprite.png';
$icon-azs: (437px, 350px, -437px, -350px, 16px, 19px, 543px, 472px, '../images/sprites/sprite.png', 'icon-azs', );
$icon-bag-name: 'icon-bag';
$icon-bag-x: 138px;
$icon-bag-y: 456px;
$icon-bag-offset-x: -138px;
$icon-bag-offset-y: -456px;
$icon-bag-width: 16px;
$icon-bag-height: 15px;
$icon-bag-total-width: 543px;
$icon-bag-total-height: 472px;
$icon-bag-image: '../images/sprites/sprite.png';
$icon-bag: (138px, 456px, -138px, -456px, 16px, 15px, 543px, 472px, '../images/sprites/sprite.png', 'icon-bag', );
$icon-brepairer-name: 'icon-brepairer';
$icon-brepairer-x: 276px;
$icon-brepairer-y: 59px;
$icon-brepairer-offset-x: -276px;
$icon-brepairer-offset-y: -59px;
$icon-brepairer-width: 26px;
$icon-brepairer-height: 30px;
$icon-brepairer-total-width: 543px;
$icon-brepairer-total-height: 472px;
$icon-brepairer-image: '../images/sprites/sprite.png';
$icon-brepairer: (276px, 59px, -276px, -59px, 26px, 30px, 543px, 472px, '../images/sprites/sprite.png', 'icon-brepairer', );
$icon-bservice-name: 'icon-bservice';
$icon-bservice-x: 119px;
$icon-bservice-y: 193px;
$icon-bservice-offset-x: -119px;
$icon-bservice-offset-y: -193px;
$icon-bservice-width: 23px;
$icon-bservice-height: 23px;
$icon-bservice-total-width: 543px;
$icon-bservice-total-height: 472px;
$icon-bservice-image: '../images/sprites/sprite.png';
$icon-bservice: (119px, 193px, -119px, -193px, 23px, 23px, 543px, 472px, '../images/sprites/sprite.png', 'icon-bservice', );
$icon-clock-g-name: 'icon-clock-g';
$icon-clock-g-x: 0px;
$icon-clock-g-y: 456px;
$icon-clock-g-offset-x: 0px;
$icon-clock-g-offset-y: -456px;
$icon-clock-g-width: 16px;
$icon-clock-g-height: 16px;
$icon-clock-g-total-width: 543px;
$icon-clock-g-total-height: 472px;
$icon-clock-g-image: '../images/sprites/sprite.png';
$icon-clock-g: (0px, 456px, 0px, -456px, 16px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'icon-clock-g', );
$icon-clock-w-name: 'icon-clock-w';
$icon-clock-w-x: 46px;
$icon-clock-w-y: 456px;
$icon-clock-w-offset-x: -46px;
$icon-clock-w-offset-y: -456px;
$icon-clock-w-width: 16px;
$icon-clock-w-height: 16px;
$icon-clock-w-total-width: 543px;
$icon-clock-w-total-height: 472px;
$icon-clock-w-image: '../images/sprites/sprite.png';
$icon-clock-w: (46px, 456px, -46px, -456px, 16px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'icon-clock-w', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 486px;
$icon-clock-y: 230px;
$icon-clock-offset-x: -486px;
$icon-clock-offset-y: -230px;
$icon-clock-width: 12px;
$icon-clock-height: 11px;
$icon-clock-total-width: 543px;
$icon-clock-total-height: 472px;
$icon-clock-image: '../images/sprites/sprite.png';
$icon-clock: (486px, 230px, -486px, -230px, 12px, 11px, 543px, 472px, '../images/sprites/sprite.png', 'icon-clock', );
$icon-date-r-name: 'icon-date-r';
$icon-date-r-x: 0px;
$icon-date-r-y: 134px;
$icon-date-r-offset-x: 0px;
$icon-date-r-offset-y: -134px;
$icon-date-r-width: 30px;
$icon-date-r-height: 29px;
$icon-date-r-total-width: 543px;
$icon-date-r-total-height: 472px;
$icon-date-r-image: '../images/sprites/sprite.png';
$icon-date-r: (0px, 134px, 0px, -134px, 30px, 29px, 543px, 472px, '../images/sprites/sprite.png', 'icon-date-r', );
$icon-date-w-name: 'icon-date-w';
$icon-date-w-x: 60px;
$icon-date-w-y: 134px;
$icon-date-w-offset-x: -60px;
$icon-date-w-offset-y: -134px;
$icon-date-w-width: 30px;
$icon-date-w-height: 29px;
$icon-date-w-total-width: 543px;
$icon-date-w-total-height: 472px;
$icon-date-w-image: '../images/sprites/sprite.png';
$icon-date-w: (60px, 134px, -60px, -134px, 30px, 29px, 543px, 472px, '../images/sprites/sprite.png', 'icon-date-w', );
$icon-date-name: 'icon-date';
$icon-date-x: 158px;
$icon-date-y: 62px;
$icon-date-offset-x: -158px;
$icon-date-offset-y: -62px;
$icon-date-width: 31px;
$icon-date-height: 31px;
$icon-date-total-width: 543px;
$icon-date-total-height: 472px;
$icon-date-image: '../images/sprites/sprite.png';
$icon-date: (158px, 62px, -158px, -62px, 31px, 31px, 543px, 472px, '../images/sprites/sprite.png', 'icon-date', );
$icon-del-name: 'icon-del';
$icon-del-x: 486px;
$icon-del-y: 315px;
$icon-del-offset-x: -486px;
$icon-del-offset-y: -315px;
$icon-del-width: 10px;
$icon-del-height: 10px;
$icon-del-total-width: 543px;
$icon-del-total-height: 472px;
$icon-del-image: '../images/sprites/sprite.png';
$icon-del: (486px, 315px, -486px, -315px, 10px, 10px, 543px, 472px, '../images/sprites/sprite.png', 'icon-del', );
$icon-detail-name: 'icon-detail';
$icon-detail-x: 200px;
$icon-detail-y: 360px;
$icon-detail-offset-x: -200px;
$icon-detail-offset-y: -360px;
$icon-detail-width: 20px;
$icon-detail-height: 20px;
$icon-detail-total-width: 543px;
$icon-detail-total-height: 472px;
$icon-detail-image: '../images/sprites/sprite.png';
$icon-detail: (200px, 360px, -200px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-detail', );
$icon-dislike-name: 'icon-dislike';
$icon-dislike-x: 250px;
$icon-dislike-y: 360px;
$icon-dislike-offset-x: -250px;
$icon-dislike-offset-y: -360px;
$icon-dislike-width: 20px;
$icon-dislike-height: 20px;
$icon-dislike-total-width: 543px;
$icon-dislike-total-height: 472px;
$icon-dislike-image: '../images/sprites/sprite.png';
$icon-dislike: (250px, 360px, -250px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-dislike', );
$icon-emarker-name: 'icon-emarker';
$icon-emarker-x: 528px;
$icon-emarker-y: 94px;
$icon-emarker-offset-x: -528px;
$icon-emarker-offset-y: -94px;
$icon-emarker-width: 12px;
$icon-emarker-height: 18px;
$icon-emarker-total-width: 543px;
$icon-emarker-total-height: 472px;
$icon-emarker-image: '../images/sprites/sprite.png';
$icon-emarker: (528px, 94px, -528px, -94px, 12px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-emarker', );
$icon-event-name: 'icon-event';
$icon-event-x: 224px;
$icon-event-y: 193px;
$icon-event-offset-x: -224px;
$icon-event-offset-y: -193px;
$icon-event-width: 22px;
$icon-event-height: 22px;
$icon-event-total-width: 543px;
$icon-event-total-height: 472px;
$icon-event-image: '../images/sprites/sprite.png';
$icon-event: (224px, 193px, -224px, -193px, 22px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'icon-event', );
$icon-favor-name: 'icon-favor';
$icon-favor-x: 333px;
$icon-favor-y: 0px;
$icon-favor-offset-x: -333px;
$icon-favor-offset-y: 0px;
$icon-favor-width: 25px;
$icon-favor-height: 25px;
$icon-favor-total-width: 543px;
$icon-favor-total-height: 472px;
$icon-favor-image: '../images/sprites/sprite.png';
$icon-favor: (333px, 0px, -333px, 0px, 25px, 25px, 543px, 472px, '../images/sprites/sprite.png', 'icon-favor', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 528px;
$icon-fb-y: 338px;
$icon-fb-offset-x: -528px;
$icon-fb-offset-y: -338px;
$icon-fb-width: 10px;
$icon-fb-height: 20px;
$icon-fb-total-width: 543px;
$icon-fb-total-height: 472px;
$icon-fb-image: '../images/sprites/sprite.png';
$icon-fb: (528px, 338px, -528px, -338px, 10px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-fb', );
$icon-fcar-name: 'icon-fcar';
$icon-fcar-x: 255px;
$icon-fcar-y: 306px;
$icon-fcar-offset-x: -255px;
$icon-fcar-offset-y: -306px;
$icon-fcar-width: 25px;
$icon-fcar-height: 18px;
$icon-fcar-total-width: 543px;
$icon-fcar-total-height: 472px;
$icon-fcar-image: '../images/sprites/sprite.png';
$icon-fcar: (255px, 306px, -255px, -306px, 25px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-fcar', );
$icon-flask-name: 'icon-flask';
$icon-flask-x: 0px;
$icon-flask-y: 62px;
$icon-flask-offset-x: 0px;
$icon-flask-offset-y: -62px;
$icon-flask-width: 30px;
$icon-flask-height: 42px;
$icon-flask-total-width: 543px;
$icon-flask-total-height: 472px;
$icon-flask-image: '../images/sprites/sprite.png';
$icon-flask: (0px, 62px, 0px, -62px, 30px, 42px, 543px, 472px, '../images/sprites/sprite.png', 'icon-flask', );
$icon-gdetail-name: 'icon-gdetail';
$icon-gdetail-x: 216px;
$icon-gdetail-y: 248px;
$icon-gdetail-offset-x: -216px;
$icon-gdetail-offset-y: -248px;
$icon-gdetail-width: 25px;
$icon-gdetail-height: 26px;
$icon-gdetail-total-width: 543px;
$icon-gdetail-total-height: 472px;
$icon-gdetail-image: '../images/sprites/sprite.png';
$icon-gdetail: (216px, 248px, -216px, -248px, 25px, 26px, 543px, 472px, '../images/sprites/sprite.png', 'icon-gdetail', );
$icon-globe-name: 'icon-globe';
$icon-globe-x: 92px;
$icon-globe-y: 456px;
$icon-globe-offset-x: -92px;
$icon-globe-offset-y: -456px;
$icon-globe-width: 16px;
$icon-globe-height: 16px;
$icon-globe-total-width: 543px;
$icon-globe-total-height: 472px;
$icon-globe-image: '../images/sprites/sprite.png';
$icon-globe: (92px, 456px, -92px, -456px, 16px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'icon-globe', );
$icon-gsearch-name: 'icon-gsearch';
$icon-gsearch-x: 276px;
$icon-gsearch-y: 178px;
$icon-gsearch-offset-x: -276px;
$icon-gsearch-offset-y: -178px;
$icon-gsearch-width: 26px;
$icon-gsearch-height: 26px;
$icon-gsearch-total-width: 543px;
$icon-gsearch-total-height: 472px;
$icon-gsearch-image: '../images/sprites/sprite.png';
$icon-gsearch: (276px, 178px, -276px, -178px, 26px, 26px, 543px, 472px, '../images/sprites/sprite.png', 'icon-gsearch', );
$icon-gstar-name: 'icon-gstar';
$icon-gstar-x: 100px;
$icon-gstar-y: 410px;
$icon-gstar-offset-x: -100px;
$icon-gstar-offset-y: -410px;
$icon-gstar-width: 16px;
$icon-gstar-height: 14px;
$icon-gstar-total-width: 543px;
$icon-gstar-total-height: 472px;
$icon-gstar-image: '../images/sprites/sprite.png';
$icon-gstar: (100px, 410px, -100px, -410px, 16px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'icon-gstar', );
$icon-lclock-w-name: 'icon-lclock-w';
$icon-lclock-w-x: 486px;
$icon-lclock-w-y: 146px;
$icon-lclock-w-offset-x: -486px;
$icon-lclock-w-offset-y: -146px;
$icon-lclock-w-width: 12px;
$icon-lclock-w-height: 12px;
$icon-lclock-w-total-width: 543px;
$icon-lclock-w-total-height: 472px;
$icon-lclock-w-image: '../images/sprites/sprite.png';
$icon-lclock-w: (486px, 146px, -486px, -146px, 12px, 12px, 543px, 472px, '../images/sprites/sprite.png', 'icon-lclock-w', );
$icon-like-name: 'icon-like';
$icon-like-x: 0px;
$icon-like-y: 360px;
$icon-like-offset-x: 0px;
$icon-like-offset-y: -360px;
$icon-like-width: 20px;
$icon-like-height: 20px;
$icon-like-total-width: 543px;
$icon-like-total-height: 472px;
$icon-like-image: '../images/sprites/sprite.png';
$icon-like: (0px, 360px, 0px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-like', );
$icon-lsearch-name: 'icon-lsearch';
$icon-lsearch-x: 100px;
$icon-lsearch-y: 360px;
$icon-lsearch-offset-x: -100px;
$icon-lsearch-offset-y: -360px;
$icon-lsearch-width: 20px;
$icon-lsearch-height: 20px;
$icon-lsearch-total-width: 543px;
$icon-lsearch-total-height: 472px;
$icon-lsearch-image: '../images/sprites/sprite.png';
$icon-lsearch: (100px, 360px, -100px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-lsearch', );
$icon-marker-g-name: 'icon-marker-g';
$icon-marker-g-x: 528px;
$icon-marker-g-y: 46px;
$icon-marker-g-offset-x: -528px;
$icon-marker-g-offset-y: -46px;
$icon-marker-g-width: 12px;
$icon-marker-g-height: 18px;
$icon-marker-g-total-width: 543px;
$icon-marker-g-total-height: 472px;
$icon-marker-g-image: '../images/sprites/sprite.png';
$icon-marker-g: (528px, 46px, -528px, -46px, 12px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-marker-g', );
$icon-marker-gg-name: 'icon-marker-gg';
$icon-marker-gg-x: 388px;
$icon-marker-gg-y: 160px;
$icon-marker-gg-offset-x: -388px;
$icon-marker-gg-offset-y: -160px;
$icon-marker-gg-width: 16px;
$icon-marker-gg-height: 24px;
$icon-marker-gg-total-width: 543px;
$icon-marker-gg-total-height: 472px;
$icon-marker-gg-image: '../images/sprites/sprite.png';
$icon-marker-gg: (388px, 160px, -388px, -160px, 16px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'icon-marker-gg', );
$icon-marker-r-name: 'icon-marker-r';
$icon-marker-r-x: 388px;
$icon-marker-r-y: 0px;
$icon-marker-r-offset-x: -388px;
$icon-marker-r-offset-y: 0px;
$icon-marker-r-width: 19px;
$icon-marker-r-height: 26px;
$icon-marker-r-total-width: 543px;
$icon-marker-r-total-height: 472px;
$icon-marker-r-image: '../images/sprites/sprite.png';
$icon-marker-r: (388px, 0px, -388px, 0px, 19px, 26px, 543px, 472px, '../images/sprites/sprite.png', 'icon-marker-r', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 333px;
$icon-marker-y: 55px;
$icon-marker-offset-x: -333px;
$icon-marker-offset-y: -55px;
$icon-marker-width: 21px;
$icon-marker-height: 29px;
$icon-marker-total-width: 543px;
$icon-marker-total-height: 472px;
$icon-marker-image: '../images/sprites/sprite.png';
$icon-marker: (333px, 55px, -333px, -55px, 21px, 29px, 543px, 472px, '../images/sprites/sprite.png', 'icon-marker', );
$icon-mtire-name: 'icon-mtire';
$icon-mtire-x: 333px;
$icon-mtire-y: 167px;
$icon-mtire-offset-x: -333px;
$icon-mtire-offset-y: -167px;
$icon-mtire-width: 23px;
$icon-mtire-height: 25px;
$icon-mtire-total-width: 543px;
$icon-mtire-total-height: 472px;
$icon-mtire-image: '../images/sprites/sprite.png';
$icon-mtire: (333px, 167px, -333px, -167px, 23px, 25px, 543px, 472px, '../images/sprites/sprite.png', 'icon-mtire', );
$icon-ncar-name: 'icon-ncar';
$icon-ncar-x: 50px;
$icon-ncar-y: 410px;
$icon-ncar-offset-x: -50px;
$icon-ncar-offset-y: -410px;
$icon-ncar-width: 20px;
$icon-ncar-height: 14px;
$icon-ncar-total-width: 543px;
$icon-ncar-total-height: 472px;
$icon-ncar-image: '../images/sprites/sprite.png';
$icon-ncar: (50px, 410px, -50px, -410px, 20px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'icon-ncar', );
$icon-new-name: 'icon-new';
$icon-new-x: 158px;
$icon-new-y: 0px;
$icon-new-offset-x: -158px;
$icon-new-offset-y: 0px;
$icon-new-width: 32px;
$icon-new-height: 32px;
$icon-new-total-width: 543px;
$icon-new-total-height: 472px;
$icon-new-image: '../images/sprites/sprite.png';
$icon-new: (158px, 0px, -158px, 0px, 32px, 32px, 543px, 472px, '../images/sprites/sprite.png', 'icon-new', );
$icon-news-name: 'icon-news';
$icon-news-x: 0px;
$icon-news-y: 193px;
$icon-news-offset-x: 0px;
$icon-news-offset-y: -193px;
$icon-news-width: 32px;
$icon-news-height: 25px;
$icon-news-total-width: 543px;
$icon-news-total-height: 472px;
$icon-news-image: '../images/sprites/sprite.png';
$icon-news: (0px, 193px, 0px, -193px, 32px, 25px, 543px, 472px, '../images/sprites/sprite.png', 'icon-news', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 437px;
$icon-ok-y: 297px;
$icon-ok-offset-x: -437px;
$icon-ok-offset-y: -297px;
$icon-ok-width: 13px;
$icon-ok-height: 23px;
$icon-ok-total-width: 543px;
$icon-ok-total-height: 472px;
$icon-ok-image: '../images/sprites/sprite.png';
$icon-ok: (437px, 297px, -437px, -297px, 13px, 23px, 543px, 472px, '../images/sprites/sprite.png', 'icon-ok', );
$icon-phone-g-name: 'icon-phone-g';
$icon-phone-g-x: 486px;
$icon-phone-g-y: 0px;
$icon-phone-g-offset-x: -486px;
$icon-phone-g-offset-y: 0px;
$icon-phone-g-width: 12px;
$icon-phone-g-height: 22px;
$icon-phone-g-total-width: 543px;
$icon-phone-g-total-height: 472px;
$icon-phone-g-image: '../images/sprites/sprite.png';
$icon-phone-g: (486px, 0px, -486px, 0px, 12px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'icon-phone-g', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 486px;
$icon-phone-y: 271px;
$icon-phone-offset-x: -486px;
$icon-phone-offset-y: -271px;
$icon-phone-width: 9px;
$icon-phone-height: 14px;
$icon-phone-total-width: 543px;
$icon-phone-total-height: 472px;
$icon-phone-image: '../images/sprites/sprite.png';
$icon-phone: (486px, 271px, -486px, -271px, 9px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'icon-phone', );
$icon-plike-name: 'icon-plike';
$icon-plike-x: 150px;
$icon-plike-y: 360px;
$icon-plike-offset-x: -150px;
$icon-plike-offset-y: -360px;
$icon-plike-width: 20px;
$icon-plike-height: 20px;
$icon-plike-total-width: 543px;
$icon-plike-total-height: 472px;
$icon-plike-image: '../images/sprites/sprite.png';
$icon-plike: (150px, 360px, -150px, -360px, 20px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-plike', );
$icon-repairer-name: 'icon-repairer';
$icon-repairer-x: 51px;
$icon-repairer-y: 306px;
$icon-repairer-offset-x: -51px;
$icon-repairer-offset-y: -306px;
$icon-repairer-width: 21px;
$icon-repairer-height: 24px;
$icon-repairer-total-width: 543px;
$icon-repairer-total-height: 472px;
$icon-repairer-image: '../images/sprites/sprite.png';
$icon-repairer: (51px, 306px, -51px, -306px, 21px, 24px, 543px, 472px, '../images/sprites/sprite.png', 'icon-repairer', );
$icon-rnews-name: 'icon-rnews';
$icon-rnews-x: 120px;
$icon-rnews-y: 134px;
$icon-rnews-offset-x: -120px;
$icon-rnews-offset-y: -134px;
$icon-rnews-width: 32px;
$icon-rnews-height: 25px;
$icon-rnews-total-width: 543px;
$icon-rnews-total-height: 472px;
$icon-rnews-image: '../images/sprites/sprite.png';
$icon-rnews: (120px, 134px, -120px, -134px, 32px, 25px, 543px, 472px, '../images/sprites/sprite.png', 'icon-rnews', );
$icon-rout-name: 'icon-rout';
$icon-rout-x: 79px;
$icon-rout-y: 0px;
$icon-rout-offset-x: -79px;
$icon-rout-offset-y: 0px;
$icon-rout-width: 49px;
$icon-rout-height: 32px;
$icon-rout-total-width: 543px;
$icon-rout-total-height: 472px;
$icon-rout-image: '../images/sprites/sprite.png';
$icon-rout: (79px, 0px, -79px, 0px, 49px, 32px, 543px, 472px, '../images/sprites/sprite.png', 'icon-rout', );
$icon-service-name: 'icon-service';
$icon-service-x: 437px;
$icon-service-y: 97px;
$icon-service-offset-x: -437px;
$icon-service-offset-y: -97px;
$icon-service-width: 18px;
$icon-service-height: 18px;
$icon-service-total-width: 543px;
$icon-service-total-height: 472px;
$icon-service-image: '../images/sprites/sprite.png';
$icon-service: (437px, 97px, -437px, -97px, 18px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-service', );
$icon-star-name: 'icon-star';
$icon-star-x: 146px;
$icon-star-y: 410px;
$icon-star-offset-x: -146px;
$icon-star-offset-y: -410px;
$icon-star-width: 16px;
$icon-star-height: 14px;
$icon-star-total-width: 543px;
$icon-star-total-height: 472px;
$icon-star-image: '../images/sprites/sprite.png';
$icon-star: (146px, 410px, -146px, -410px, 16px, 14px, 543px, 472px, '../images/sprites/sprite.png', 'icon-star', );
$icon-succ-ltick-name: 'icon-succ-ltick';
$icon-succ-ltick-x: 60px;
$icon-succ-ltick-y: 62px;
$icon-succ-ltick-offset-x: -60px;
$icon-succ-ltick-offset-y: -62px;
$icon-succ-ltick-width: 35px;
$icon-succ-ltick-height: 34px;
$icon-succ-ltick-total-width: 543px;
$icon-succ-ltick-total-height: 472px;
$icon-succ-ltick-image: '../images/sprites/sprite.png';
$icon-succ-ltick: (60px, 62px, -60px, -62px, 35px, 34px, 543px, 472px, '../images/sprites/sprite.png', 'icon-succ-ltick', );
$icon-succ-tick-name: 'icon-succ-tick';
$icon-succ-tick-x: 437px;
$icon-succ-tick-y: 0px;
$icon-succ-tick-offset-x: -437px;
$icon-succ-tick-offset-y: 0px;
$icon-succ-tick-width: 19px;
$icon-succ-tick-height: 18px;
$icon-succ-tick-total-width: 543px;
$icon-succ-tick-total-height: 472px;
$icon-succ-tick-image: '../images/sprites/sprite.png';
$icon-succ-tick: (437px, 0px, -437px, 0px, 19px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-succ-tick', );
$icon-thread-name: 'icon-thread';
$icon-thread-x: 238px;
$icon-thread-y: 410px;
$icon-thread-offset-x: -238px;
$icon-thread-offset-y: -410px;
$icon-thread-width: 20px;
$icon-thread-height: 6px;
$icon-thread-total-width: 543px;
$icon-thread-total-height: 472px;
$icon-thread-image: '../images/sprites/sprite.png';
$icon-thread: (238px, 410px, -238px, -410px, 20px, 6px, 543px, 472px, '../images/sprites/sprite.png', 'icon-thread', );
$icon-tire-w-name: 'icon-tire-w';
$icon-tire-w-x: 388px;
$icon-tire-w-y: 214px;
$icon-tire-w-offset-x: -388px;
$icon-tire-w-offset-y: -214px;
$icon-tire-w-width: 18px;
$icon-tire-w-height: 20px;
$icon-tire-w-total-width: 543px;
$icon-tire-w-total-height: 472px;
$icon-tire-w-image: '../images/sprites/sprite.png';
$icon-tire-w: (388px, 214px, -388px, -214px, 18px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-tire-w', );
$icon-tire-name: 'icon-tire';
$icon-tire-x: 388px;
$icon-tire-y: 264px;
$icon-tire-offset-x: -388px;
$icon-tire-offset-y: -264px;
$icon-tire-width: 18px;
$icon-tire-height: 20px;
$icon-tire-total-width: 543px;
$icon-tire-total-height: 472px;
$icon-tire-image: '../images/sprites/sprite.png';
$icon-tire: (388px, 264px, -388px, -264px, 18px, 20px, 543px, 472px, '../images/sprites/sprite.png', 'icon-tire', );
$icon-tireb-name: 'icon-tireb';
$icon-tireb-x: 276px;
$icon-tireb-y: 0px;
$icon-tireb-offset-x: -276px;
$icon-tireb-offset-y: 0px;
$icon-tireb-width: 27px;
$icon-tireb-height: 29px;
$icon-tireb-total-width: 543px;
$icon-tireb-total-height: 472px;
$icon-tireb-image: '../images/sprites/sprite.png';
$icon-tireb: (276px, 0px, -276px, 0px, 27px, 29px, 543px, 472px, '../images/sprites/sprite.png', 'icon-tireb', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 528px;
$icon-vk-y: 0px;
$icon-vk-offset-x: -528px;
$icon-vk-offset-y: 0px;
$icon-vk-width: 15px;
$icon-vk-height: 16px;
$icon-vk-total-width: 543px;
$icon-vk-total-height: 472px;
$icon-vk-image: '../images/sprites/sprite.png';
$icon-vk: (528px, 0px, -528px, 0px, 15px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'icon-vk', );
$icon-wfavor-name: 'icon-wfavor';
$icon-wfavor-x: 271px;
$icon-wfavor-y: 248px;
$icon-wfavor-offset-x: -271px;
$icon-wfavor-offset-y: -248px;
$icon-wfavor-width: 25px;
$icon-wfavor-height: 25px;
$icon-wfavor-total-width: 543px;
$icon-wfavor-total-height: 472px;
$icon-wfavor-image: '../images/sprites/sprite.png';
$icon-wfavor: (271px, 248px, -271px, -248px, 25px, 25px, 543px, 472px, '../images/sprites/sprite.png', 'icon-wfavor', );
$icon-wrout-name: 'icon-wrout';
$icon-wrout-x: 0px;
$icon-wrout-y: 0px;
$icon-wrout-offset-x: 0px;
$icon-wrout-offset-y: 0px;
$icon-wrout-width: 49px;
$icon-wrout-height: 32px;
$icon-wrout-total-width: 543px;
$icon-wrout-total-height: 472px;
$icon-wrout-image: '../images/sprites/sprite.png';
$icon-wrout: (0px, 0px, 0px, 0px, 49px, 32px, 543px, 472px, '../images/sprites/sprite.png', 'icon-wrout', );
$icon-wservice-name: 'icon-wservice';
$icon-wservice-x: 172px;
$icon-wservice-y: 193px;
$icon-wservice-offset-x: -172px;
$icon-wservice-offset-y: -193px;
$icon-wservice-width: 22px;
$icon-wservice-height: 22px;
$icon-wservice-total-width: 543px;
$icon-wservice-total-height: 472px;
$icon-wservice-image: '../images/sprites/sprite.png';
$icon-wservice: (172px, 193px, -172px, -193px, 22px, 22px, 543px, 472px, '../images/sprites/sprite.png', 'icon-wservice', );
$icon-wvideo-name: 'icon-wvideo';
$icon-wvideo-x: 300px;
$icon-wvideo-y: 360px;
$icon-wvideo-offset-x: -300px;
$icon-wvideo-offset-y: -360px;
$icon-wvideo-width: 23px;
$icon-wvideo-height: 16px;
$icon-wvideo-total-width: 543px;
$icon-wvideo-total-height: 472px;
$icon-wvideo-image: '../images/sprites/sprite.png';
$icon-wvideo: (300px, 360px, -300px, -360px, 23px, 16px, 543px, 472px, '../images/sprites/sprite.png', 'icon-wvideo', );
$icon-ybag-name: 'icon-ybag';
$icon-ybag-x: 310px;
$icon-ybag-y: 306px;
$icon-ybag-offset-x: -310px;
$icon-ybag-offset-y: -306px;
$icon-ybag-width: 21px;
$icon-ybag-height: 18px;
$icon-ybag-total-width: 543px;
$icon-ybag-total-height: 472px;
$icon-ybag-image: '../images/sprites/sprite.png';
$icon-ybag: (310px, 306px, -310px, -306px, 21px, 18px, 543px, 472px, '../images/sprites/sprite.png', 'icon-ybag', );
$spritesheet-width: 543px;
$spritesheet-height: 472px;
$spritesheet-image: '../images/sprites/sprite.png';
$spritesheet-sprites: ($add-low, $ic-arr-wgray, $ic-arr-wred, $ic-arrow-l, $ic-arrow-lh, $ic-arrow-llow, $ic-arrow-lw, $ic-arrow-rlow, $ic-arrow-rw, $ic-aw-gor, $ic-aw-or, $ic-azs-gg, $ic-azs-gr, $ic-comments-low, $ic-comments, $ic-footer-search, $ic-gstar-mid, $ic-lb-close, $ic-lb-next, $ic-lb-prev, $ic-pstar-low, $ic-rselect-arr, $ic-select-arr, $ic-sep-arr, $ic-tick-gray, $ic-wcomments, $ic-wstar-mid, $ic-ystar-low, $icon-add-avatar, $icon-arrs, $icon-aw-w, $icon-aw, $icon-azs-gb, $icon-azs-gd, $icon-azs-gg, $icon-azs-go, $icon-azs-gr, $icon-azs-gt, $icon-azs-gw, $icon-azs-w, $icon-azs, $icon-bag, $icon-brepairer, $icon-bservice, $icon-clock-g, $icon-clock-w, $icon-clock, $icon-date-r, $icon-date-w, $icon-date, $icon-del, $icon-detail, $icon-dislike, $icon-emarker, $icon-event, $icon-favor, $icon-fb, $icon-fcar, $icon-flask, $icon-gdetail, $icon-globe, $icon-gsearch, $icon-gstar, $icon-lclock-w, $icon-like, $icon-lsearch, $icon-marker-g, $icon-marker-gg, $icon-marker-r, $icon-marker, $icon-mtire, $icon-ncar, $icon-new, $icon-news, $icon-ok, $icon-phone-g, $icon-phone, $icon-plike, $icon-repairer, $icon-rnews, $icon-rout, $icon-service, $icon-star, $icon-succ-ltick, $icon-succ-tick, $icon-thread, $icon-tire-w, $icon-tire, $icon-tireb, $icon-vk, $icon-wfavor, $icon-wrout, $icon-wservice, $icon-wvideo, $icon-ybag, );
$spritesheet: (543px, 472px, '../images/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
