// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-arr-wgray-name: 'ic-arr-wgray';
$ic-arr-wgray-x: 408px;
$ic-arr-wgray-y: 240px;
$ic-arr-wgray-offset-x: -408px;
$ic-arr-wgray-offset-y: -240px;
$ic-arr-wgray-width: 11px;
$ic-arr-wgray-height: 7px;
$ic-arr-wgray-total-width: 419px;
$ic-arr-wgray-total-height: 409px;
$ic-arr-wgray-image: '../images/sprites/sprite.png';
$ic-arr-wgray: (408px, 240px, -408px, -240px, 11px, 7px, 419px, 409px, '../images/sprites/sprite.png', 'ic-arr-wgray', );
$ic-arrow-l-name: 'ic-arrow-l';
$ic-arrow-l-x: 408px;
$ic-arrow-l-y: 0px;
$ic-arrow-l-offset-x: -408px;
$ic-arrow-l-offset-y: 0px;
$ic-arrow-l-width: 11px;
$ic-arrow-l-height: 19px;
$ic-arrow-l-total-width: 419px;
$ic-arrow-l-total-height: 409px;
$ic-arrow-l-image: '../images/sprites/sprite.png';
$ic-arrow-l: (408px, 0px, -408px, 0px, 11px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'ic-arrow-l', );
$ic-arrow-lh-name: 'ic-arrow-lh';
$ic-arrow-lh-x: 408px;
$ic-arrow-lh-y: 147px;
$ic-arrow-lh-offset-x: -408px;
$ic-arrow-lh-offset-y: -147px;
$ic-arrow-lh-width: 11px;
$ic-arrow-lh-height: 19px;
$ic-arrow-lh-total-width: 419px;
$ic-arrow-lh-total-height: 409px;
$ic-arrow-lh-image: '../images/sprites/sprite.png';
$ic-arrow-lh: (408px, 147px, -408px, -147px, 11px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'ic-arrow-lh', );
$ic-arrow-lw-name: 'ic-arrow-lw';
$ic-arrow-lw-x: 408px;
$ic-arrow-lw-y: 49px;
$ic-arrow-lw-offset-x: -408px;
$ic-arrow-lw-offset-y: -49px;
$ic-arrow-lw-width: 11px;
$ic-arrow-lw-height: 19px;
$ic-arrow-lw-total-width: 419px;
$ic-arrow-lw-total-height: 409px;
$ic-arrow-lw-image: '../images/sprites/sprite.png';
$ic-arrow-lw: (408px, 49px, -408px, -49px, 11px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'ic-arrow-lw', );
$ic-arrow-rw-name: 'ic-arrow-rw';
$ic-arrow-rw-x: 408px;
$ic-arrow-rw-y: 98px;
$ic-arrow-rw-offset-x: -408px;
$ic-arrow-rw-offset-y: -98px;
$ic-arrow-rw-width: 11px;
$ic-arrow-rw-height: 19px;
$ic-arrow-rw-total-width: 419px;
$ic-arrow-rw-total-height: 409px;
$ic-arrow-rw-image: '../images/sprites/sprite.png';
$ic-arrow-rw: (408px, 98px, -408px, -98px, 11px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'ic-arrow-rw', );
$ic-aw-or-name: 'ic-aw-or';
$ic-aw-or-x: 159px;
$ic-aw-or-y: 192px;
$ic-aw-or-offset-x: -159px;
$ic-aw-or-offset-y: -192px;
$ic-aw-or-width: 21px;
$ic-aw-or-height: 24px;
$ic-aw-or-total-width: 419px;
$ic-aw-or-total-height: 409px;
$ic-aw-or-image: '../images/sprites/sprite.png';
$ic-aw-or: (159px, 192px, -159px, -192px, 21px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'ic-aw-or', );
$ic-azs-gr-name: 'ic-azs-gr';
$ic-azs-gr-x: 310px;
$ic-azs-gr-y: 100px;
$ic-azs-gr-offset-x: -310px;
$ic-azs-gr-offset-y: -100px;
$ic-azs-gr-width: 18px;
$ic-azs-gr-height: 22px;
$ic-azs-gr-total-width: 419px;
$ic-azs-gr-total-height: 409px;
$ic-azs-gr-image: '../images/sprites/sprite.png';
$ic-azs-gr: (310px, 100px, -310px, -100px, 18px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'ic-azs-gr', );
$ic-comments-low-name: 'ic-comments-low';
$ic-comments-low-x: 53px;
$ic-comments-low-y: 302px;
$ic-comments-low-offset-x: -53px;
$ic-comments-low-offset-y: -302px;
$ic-comments-low-width: 20px;
$ic-comments-low-height: 16px;
$ic-comments-low-total-width: 419px;
$ic-comments-low-total-height: 409px;
$ic-comments-low-image: '../images/sprites/sprite.png';
$ic-comments-low: (53px, 302px, -53px, -302px, 20px, 16px, 419px, 409px, '../images/sprites/sprite.png', 'ic-comments-low', );
$ic-comments-name: 'ic-comments';
$ic-comments-x: 0px;
$ic-comments-y: 192px;
$ic-comments-offset-x: 0px;
$ic-comments-offset-y: -192px;
$ic-comments-width: 27px;
$ic-comments-height: 24px;
$ic-comments-total-width: 419px;
$ic-comments-total-height: 409px;
$ic-comments-image: '../images/sprites/sprite.png';
$ic-comments: (0px, 192px, 0px, -192px, 27px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'ic-comments', );
$ic-footer-search-name: 'ic-footer-search';
$ic-footer-search-x: 253px;
$ic-footer-search-y: 246px;
$ic-footer-search-offset-x: -253px;
$ic-footer-search-offset-y: -246px;
$ic-footer-search-width: 20px;
$ic-footer-search-height: 20px;
$ic-footer-search-total-width: 419px;
$ic-footer-search-total-height: 409px;
$ic-footer-search-image: '../images/sprites/sprite.png';
$ic-footer-search: (253px, 246px, -253px, -246px, 20px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'ic-footer-search', );
$ic-gstar-mid-name: 'ic-gstar-mid';
$ic-gstar-mid-x: 255px;
$ic-gstar-mid-y: 167px;
$ic-gstar-mid-offset-x: -255px;
$ic-gstar-mid-offset-y: -167px;
$ic-gstar-mid-width: 25px;
$ic-gstar-mid-height: 23px;
$ic-gstar-mid-total-width: 419px;
$ic-gstar-mid-total-height: 409px;
$ic-gstar-mid-image: '../images/sprites/sprite.png';
$ic-gstar-mid: (255px, 167px, -255px, -167px, 25px, 23px, 419px, 409px, '../images/sprites/sprite.png', 'ic-gstar-mid', );
$ic-lb-close-name: 'ic-lb-close';
$ic-lb-close-x: 360px;
$ic-lb-close-y: 301px;
$ic-lb-close-offset-x: -360px;
$ic-lb-close-offset-y: -301px;
$ic-lb-close-width: 17px;
$ic-lb-close-height: 16px;
$ic-lb-close-total-width: 419px;
$ic-lb-close-total-height: 409px;
$ic-lb-close-image: '../images/sprites/sprite.png';
$ic-lb-close: (360px, 301px, -360px, -301px, 17px, 16px, 419px, 409px, '../images/sprites/sprite.png', 'ic-lb-close', );
$ic-lb-next-name: 'ic-lb-next';
$ic-lb-next-x: 360px;
$ic-lb-next-y: 197px;
$ic-lb-next-offset-x: -360px;
$ic-lb-next-offset-y: -197px;
$ic-lb-next-width: 14px;
$ic-lb-next-height: 22px;
$ic-lb-next-total-width: 419px;
$ic-lb-next-total-height: 409px;
$ic-lb-next-image: '../images/sprites/sprite.png';
$ic-lb-next: (360px, 197px, -360px, -197px, 14px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'ic-lb-next', );
$ic-lb-prev-name: 'ic-lb-prev';
$ic-lb-prev-x: 360px;
$ic-lb-prev-y: 249px;
$ic-lb-prev-offset-x: -360px;
$ic-lb-prev-offset-y: -249px;
$ic-lb-prev-width: 14px;
$ic-lb-prev-height: 22px;
$ic-lb-prev-total-width: 419px;
$ic-lb-prev-total-height: 409px;
$ic-lb-prev-image: '../images/sprites/sprite.png';
$ic-lb-prev: (360px, 249px, -360px, -249px, 14px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'ic-lb-prev', );
$ic-rselect-arr-name: 'ic-rselect-arr';
$ic-rselect-arr-x: 88px;
$ic-rselect-arr-y: 348px;
$ic-rselect-arr-offset-x: -88px;
$ic-rselect-arr-offset-y: -348px;
$ic-rselect-arr-width: 16px;
$ic-rselect-arr-height: 10px;
$ic-rselect-arr-total-width: 419px;
$ic-rselect-arr-total-height: 409px;
$ic-rselect-arr-image: '../images/sprites/sprite.png';
$ic-rselect-arr: (88px, 348px, -88px, -348px, 16px, 10px, 419px, 409px, '../images/sprites/sprite.png', 'ic-rselect-arr', );
$ic-select-arr-name: 'ic-select-arr';
$ic-select-arr-x: 408px;
$ic-select-arr-y: 277px;
$ic-select-arr-offset-x: -408px;
$ic-select-arr-offset-y: -277px;
$ic-select-arr-width: 11px;
$ic-select-arr-height: 6px;
$ic-select-arr-total-width: 419px;
$ic-select-arr-total-height: 409px;
$ic-select-arr-image: '../images/sprites/sprite.png';
$ic-select-arr: (408px, 277px, -408px, -277px, 11px, 6px, 419px, 409px, '../images/sprites/sprite.png', 'ic-select-arr', );
$ic-sep-arr-name: 'ic-sep-arr';
$ic-sep-arr-x: 408px;
$ic-sep-arr-y: 313px;
$ic-sep-arr-offset-x: -408px;
$ic-sep-arr-offset-y: -313px;
$ic-sep-arr-width: 10px;
$ic-sep-arr-height: 6px;
$ic-sep-arr-total-width: 419px;
$ic-sep-arr-total-height: 409px;
$ic-sep-arr-image: '../images/sprites/sprite.png';
$ic-sep-arr: (408px, 313px, -408px, -313px, 10px, 6px, 419px, 409px, '../images/sprites/sprite.png', 'ic-sep-arr', );
$ic-tick-gray-name: 'ic-tick-gray';
$ic-tick-gray-x: 0px;
$ic-tick-gray-y: 397px;
$ic-tick-gray-offset-x: 0px;
$ic-tick-gray-offset-y: -397px;
$ic-tick-gray-width: 12px;
$ic-tick-gray-height: 12px;
$ic-tick-gray-total-width: 419px;
$ic-tick-gray-total-height: 409px;
$ic-tick-gray-image: '../images/sprites/sprite.png';
$ic-tick-gray: (0px, 397px, 0px, -397px, 12px, 12px, 419px, 409px, '../images/sprites/sprite.png', 'ic-tick-gray', );
$ic-wstar-mid-name: 'ic-wstar-mid';
$ic-wstar-mid-x: 255px;
$ic-wstar-mid-y: 114px;
$ic-wstar-mid-offset-x: -255px;
$ic-wstar-mid-offset-y: -114px;
$ic-wstar-mid-width: 25px;
$ic-wstar-mid-height: 23px;
$ic-wstar-mid-total-width: 419px;
$ic-wstar-mid-total-height: 409px;
$ic-wstar-mid-image: '../images/sprites/sprite.png';
$ic-wstar-mid: (255px, 114px, -255px, -114px, 25px, 23px, 419px, 409px, '../images/sprites/sprite.png', 'ic-wstar-mid', );
$icon-arrs-name: 'icon-arrs';
$icon-arrs-x: 360px;
$icon-arrs-y: 100px;
$icon-arrs-offset-x: -360px;
$icon-arrs-offset-y: -100px;
$icon-arrs-width: 18px;
$icon-arrs-height: 19px;
$icon-arrs-total-width: 419px;
$icon-arrs-total-height: 409px;
$icon-arrs-image: '../images/sprites/sprite.png';
$icon-arrs: (360px, 100px, -360px, -100px, 18px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'icon-arrs', );
$icon-aw-w-name: 'icon-aw-w';
$icon-aw-w-x: 201px;
$icon-aw-w-y: 116px;
$icon-aw-w-offset-x: -201px;
$icon-aw-w-offset-y: -116px;
$icon-aw-w-width: 21px;
$icon-aw-w-height: 24px;
$icon-aw-w-total-width: 419px;
$icon-aw-w-total-height: 409px;
$icon-aw-w-image: '../images/sprites/sprite.png';
$icon-aw-w: (201px, 116px, -201px, -116px, 21px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'icon-aw-w', );
$icon-aw-name: 'icon-aw';
$icon-aw-x: 57px;
$icon-aw-y: 192px;
$icon-aw-offset-x: -57px;
$icon-aw-offset-y: -192px;
$icon-aw-width: 21px;
$icon-aw-height: 24px;
$icon-aw-total-width: 419px;
$icon-aw-total-height: 409px;
$icon-aw-image: '../images/sprites/sprite.png';
$icon-aw: (57px, 192px, -57px, -192px, 21px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'icon-aw', );
$icon-azs-gb-name: 'icon-azs-gb';
$icon-azs-gb-x: 0px;
$icon-azs-gb-y: 134px;
$icon-azs-gb-offset-x: 0px;
$icon-azs-gb-offset-y: -134px;
$icon-azs-gb-width: 24px;
$icon-azs-gb-height: 28px;
$icon-azs-gb-total-width: 419px;
$icon-azs-gb-total-height: 409px;
$icon-azs-gb-image: '../images/sprites/sprite.png';
$icon-azs-gb: (0px, 134px, 0px, -134px, 24px, 28px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-gb', );
$icon-azs-gg-name: 'icon-azs-gg';
$icon-azs-gg-x: 54px;
$icon-azs-gg-y: 134px;
$icon-azs-gg-offset-x: -54px;
$icon-azs-gg-offset-y: -134px;
$icon-azs-gg-width: 24px;
$icon-azs-gg-height: 28px;
$icon-azs-gg-total-width: 419px;
$icon-azs-gg-total-height: 409px;
$icon-azs-gg-image: '../images/sprites/sprite.png';
$icon-azs-gg: (54px, 134px, -54px, -134px, 24px, 28px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-gg', );
$icon-azs-go-name: 'icon-azs-go';
$icon-azs-go-x: 201px;
$icon-azs-go-y: 58px;
$icon-azs-go-offset-x: -201px;
$icon-azs-go-offset-y: -58px;
$icon-azs-go-width: 24px;
$icon-azs-go-height: 28px;
$icon-azs-go-total-width: 419px;
$icon-azs-go-total-height: 409px;
$icon-azs-go-image: '../images/sprites/sprite.png';
$icon-azs-go: (201px, 58px, -201px, -58px, 24px, 28px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-go', );
$icon-azs-gr-name: 'icon-azs-gr';
$icon-azs-gr-x: 201px;
$icon-azs-gr-y: 0px;
$icon-azs-gr-offset-x: -201px;
$icon-azs-gr-offset-y: 0px;
$icon-azs-gr-width: 24px;
$icon-azs-gr-height: 28px;
$icon-azs-gr-total-width: 419px;
$icon-azs-gr-total-height: 409px;
$icon-azs-gr-image: '../images/sprites/sprite.png';
$icon-azs-gr: (201px, 0px, -201px, 0px, 24px, 28px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-gr', );
$icon-azs-gt-name: 'icon-azs-gt';
$icon-azs-gt-x: 108px;
$icon-azs-gt-y: 134px;
$icon-azs-gt-offset-x: -108px;
$icon-azs-gt-offset-y: -134px;
$icon-azs-gt-width: 24px;
$icon-azs-gt-height: 28px;
$icon-azs-gt-total-width: 419px;
$icon-azs-gt-total-height: 409px;
$icon-azs-gt-image: '../images/sprites/sprite.png';
$icon-azs-gt: (108px, 134px, -108px, -134px, 24px, 28px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-gt', );
$icon-azs-gw-name: 'icon-azs-gw';
$icon-azs-gw-x: 79px;
$icon-azs-gw-y: 59px;
$icon-azs-gw-offset-x: -79px;
$icon-azs-gw-offset-y: -59px;
$icon-azs-gw-width: 25px;
$icon-azs-gw-height: 29px;
$icon-azs-gw-total-width: 419px;
$icon-azs-gw-total-height: 409px;
$icon-azs-gw-image: '../images/sprites/sprite.png';
$icon-azs-gw: (79px, 59px, -79px, -59px, 25px, 29px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-gw', );
$icon-azs-w-name: 'icon-azs-w';
$icon-azs-w-x: 310px;
$icon-azs-w-y: 152px;
$icon-azs-w-offset-x: -310px;
$icon-azs-w-offset-y: -152px;
$icon-azs-w-width: 18px;
$icon-azs-w-height: 22px;
$icon-azs-w-total-width: 419px;
$icon-azs-w-total-height: 409px;
$icon-azs-w-image: '../images/sprites/sprite.png';
$icon-azs-w: (310px, 152px, -310px, -152px, 18px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs-w', );
$icon-azs-name: 'icon-azs';
$icon-azs-x: 0px;
$icon-azs-y: 348px;
$icon-azs-offset-x: 0px;
$icon-azs-offset-y: -348px;
$icon-azs-width: 16px;
$icon-azs-height: 19px;
$icon-azs-total-width: 419px;
$icon-azs-total-height: 409px;
$icon-azs-image: '../images/sprites/sprite.png';
$icon-azs: (0px, 348px, 0px, -348px, 16px, 19px, 419px, 409px, '../images/sprites/sprite.png', 'icon-azs', );
$icon-bag-name: 'icon-bag';
$icon-bag-x: 195px;
$icon-bag-y: 302px;
$icon-bag-offset-x: -195px;
$icon-bag-offset-y: -302px;
$icon-bag-width: 16px;
$icon-bag-height: 15px;
$icon-bag-total-width: 419px;
$icon-bag-total-height: 409px;
$icon-bag-image: '../images/sprites/sprite.png';
$icon-bag: (195px, 302px, -195px, -302px, 16px, 15px, 419px, 409px, '../images/sprites/sprite.png', 'icon-bag', );
$icon-clock-g-name: 'icon-clock-g';
$icon-clock-g-x: 103px;
$icon-clock-g-y: 302px;
$icon-clock-g-offset-x: -103px;
$icon-clock-g-offset-y: -302px;
$icon-clock-g-width: 16px;
$icon-clock-g-height: 16px;
$icon-clock-g-total-width: 419px;
$icon-clock-g-total-height: 409px;
$icon-clock-g-image: '../images/sprites/sprite.png';
$icon-clock-g: (103px, 302px, -103px, -302px, 16px, 16px, 419px, 409px, '../images/sprites/sprite.png', 'icon-clock-g', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 42px;
$icon-clock-y: 397px;
$icon-clock-offset-x: -42px;
$icon-clock-offset-y: -397px;
$icon-clock-width: 12px;
$icon-clock-height: 11px;
$icon-clock-total-width: 419px;
$icon-clock-total-height: 409px;
$icon-clock-image: '../images/sprites/sprite.png';
$icon-clock: (42px, 397px, -42px, -397px, 12px, 11px, 419px, 409px, '../images/sprites/sprite.png', 'icon-clock', );
$icon-date-r-name: 'icon-date-r';
$icon-date-r-x: 79px;
$icon-date-r-y: 0px;
$icon-date-r-offset-x: -79px;
$icon-date-r-offset-y: 0px;
$icon-date-r-width: 30px;
$icon-date-r-height: 29px;
$icon-date-r-total-width: 419px;
$icon-date-r-total-height: 409px;
$icon-date-r-image: '../images/sprites/sprite.png';
$icon-date-r: (79px, 0px, -79px, 0px, 30px, 29px, 419px, 409px, '../images/sprites/sprite.png', 'icon-date-r', );
$icon-detail-name: 'icon-detail';
$icon-detail-x: 310px;
$icon-detail-y: 50px;
$icon-detail-offset-x: -310px;
$icon-detail-offset-y: -50px;
$icon-detail-width: 20px;
$icon-detail-height: 20px;
$icon-detail-total-width: 419px;
$icon-detail-total-height: 409px;
$icon-detail-image: '../images/sprites/sprite.png';
$icon-detail: (310px, 50px, -310px, -50px, 20px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-detail', );
$icon-dislike-name: 'icon-dislike';
$icon-dislike-x: 203px;
$icon-dislike-y: 246px;
$icon-dislike-offset-x: -203px;
$icon-dislike-offset-y: -246px;
$icon-dislike-width: 20px;
$icon-dislike-height: 20px;
$icon-dislike-total-width: 419px;
$icon-dislike-total-height: 409px;
$icon-dislike-image: '../images/sprites/sprite.png';
$icon-dislike: (203px, 246px, -203px, -246px, 20px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-dislike', );
$icon-event-name: 'icon-event';
$icon-event-x: 101px;
$icon-event-y: 246px;
$icon-event-offset-x: -101px;
$icon-event-offset-y: -246px;
$icon-event-width: 22px;
$icon-event-height: 22px;
$icon-event-total-width: 419px;
$icon-event-total-height: 409px;
$icon-event-image: '../images/sprites/sprite.png';
$icon-event: (101px, 246px, -101px, -246px, 22px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'icon-event', );
$icon-favor-name: 'icon-favor';
$icon-favor-x: 255px;
$icon-favor-y: 0px;
$icon-favor-offset-x: -255px;
$icon-favor-offset-y: 0px;
$icon-favor-width: 25px;
$icon-favor-height: 25px;
$icon-favor-total-width: 419px;
$icon-favor-total-height: 409px;
$icon-favor-image: '../images/sprites/sprite.png';
$icon-favor: (255px, 0px, -255px, 0px, 25px, 25px, 419px, 409px, '../images/sprites/sprite.png', 'icon-favor', );
$icon-flask-name: 'icon-flask';
$icon-flask-x: 0px;
$icon-flask-y: 62px;
$icon-flask-offset-x: 0px;
$icon-flask-offset-y: -62px;
$icon-flask-width: 30px;
$icon-flask-height: 42px;
$icon-flask-total-width: 419px;
$icon-flask-total-height: 409px;
$icon-flask-image: '../images/sprites/sprite.png';
$icon-flask: (0px, 62px, 0px, -62px, 30px, 42px, 419px, 409px, '../images/sprites/sprite.png', 'icon-flask', );
$icon-globe-name: 'icon-globe';
$icon-globe-x: 149px;
$icon-globe-y: 302px;
$icon-globe-offset-x: -149px;
$icon-globe-offset-y: -302px;
$icon-globe-width: 16px;
$icon-globe-height: 16px;
$icon-globe-total-width: 419px;
$icon-globe-total-height: 409px;
$icon-globe-image: '../images/sprites/sprite.png';
$icon-globe: (149px, 302px, -149px, -302px, 16px, 16px, 419px, 409px, '../images/sprites/sprite.png', 'icon-globe', );
$icon-gstar-name: 'icon-gstar';
$icon-gstar-x: 287px;
$icon-gstar-y: 302px;
$icon-gstar-offset-x: -287px;
$icon-gstar-offset-y: -302px;
$icon-gstar-width: 16px;
$icon-gstar-height: 14px;
$icon-gstar-total-width: 419px;
$icon-gstar-total-height: 409px;
$icon-gstar-image: '../images/sprites/sprite.png';
$icon-gstar: (287px, 302px, -287px, -302px, 16px, 14px, 419px, 409px, '../images/sprites/sprite.png', 'icon-gstar', );
$icon-like-name: 'icon-like';
$icon-like-x: 153px;
$icon-like-y: 246px;
$icon-like-offset-x: -153px;
$icon-like-offset-y: -246px;
$icon-like-width: 20px;
$icon-like-height: 20px;
$icon-like-total-width: 419px;
$icon-like-total-height: 409px;
$icon-like-image: '../images/sprites/sprite.png';
$icon-like: (153px, 246px, -153px, -246px, 20px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-like', );
$icon-marker-g-name: 'icon-marker-g';
$icon-marker-g-x: 46px;
$icon-marker-g-y: 348px;
$icon-marker-g-offset-x: -46px;
$icon-marker-g-offset-y: -348px;
$icon-marker-g-width: 12px;
$icon-marker-g-height: 18px;
$icon-marker-g-total-width: 419px;
$icon-marker-g-total-height: 409px;
$icon-marker-g-image: '../images/sprites/sprite.png';
$icon-marker-g: (46px, 348px, -46px, -348px, 12px, 18px, 419px, 409px, '../images/sprites/sprite.png', 'icon-marker-g', );
$icon-marker-gg-name: 'icon-marker-gg';
$icon-marker-gg-x: 310px;
$icon-marker-gg-y: 204px;
$icon-marker-gg-offset-x: -310px;
$icon-marker-gg-offset-y: -204px;
$icon-marker-gg-width: 16px;
$icon-marker-gg-height: 24px;
$icon-marker-gg-total-width: 419px;
$icon-marker-gg-total-height: 409px;
$icon-marker-gg-image: '../images/sprites/sprite.png';
$icon-marker-gg: (310px, 204px, -310px, -204px, 16px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'icon-marker-gg', );
$icon-marker-r-name: 'icon-marker-r';
$icon-marker-r-x: 0px;
$icon-marker-r-y: 246px;
$icon-marker-r-offset-x: 0px;
$icon-marker-r-offset-y: -246px;
$icon-marker-r-width: 19px;
$icon-marker-r-height: 26px;
$icon-marker-r-total-width: 419px;
$icon-marker-r-total-height: 409px;
$icon-marker-r-image: '../images/sprites/sprite.png';
$icon-marker-r: (0px, 246px, 0px, -246px, 19px, 26px, 419px, 409px, '../images/sprites/sprite.png', 'icon-marker-r', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 255px;
$icon-marker-y: 55px;
$icon-marker-offset-x: -255px;
$icon-marker-offset-y: -55px;
$icon-marker-width: 21px;
$icon-marker-height: 29px;
$icon-marker-total-width: 419px;
$icon-marker-total-height: 409px;
$icon-marker-image: '../images/sprites/sprite.png';
$icon-marker: (255px, 55px, -255px, -55px, 21px, 29px, 419px, 409px, '../images/sprites/sprite.png', 'icon-marker', );
$icon-ncar-name: 'icon-ncar';
$icon-ncar-x: 310px;
$icon-ncar-y: 258px;
$icon-ncar-offset-x: -310px;
$icon-ncar-offset-y: -258px;
$icon-ncar-width: 20px;
$icon-ncar-height: 14px;
$icon-ncar-total-width: 419px;
$icon-ncar-total-height: 409px;
$icon-ncar-image: '../images/sprites/sprite.png';
$icon-ncar: (310px, 258px, -310px, -258px, 20px, 14px, 419px, 409px, '../images/sprites/sprite.png', 'icon-ncar', );
$icon-news-name: 'icon-news';
$icon-news-x: 139px;
$icon-news-y: 0px;
$icon-news-offset-x: -139px;
$icon-news-offset-y: 0px;
$icon-news-width: 32px;
$icon-news-height: 25px;
$icon-news-total-width: 419px;
$icon-news-total-height: 409px;
$icon-news-image: '../images/sprites/sprite.png';
$icon-news: (139px, 0px, -139px, 0px, 32px, 25px, 419px, 409px, '../images/sprites/sprite.png', 'icon-news', );
$icon-phone-g-name: 'icon-phone-g';
$icon-phone-g-x: 210px;
$icon-phone-g-y: 192px;
$icon-phone-g-offset-x: -210px;
$icon-phone-g-offset-y: -192px;
$icon-phone-g-width: 12px;
$icon-phone-g-height: 22px;
$icon-phone-g-total-width: 419px;
$icon-phone-g-total-height: 409px;
$icon-phone-g-image: '../images/sprites/sprite.png';
$icon-phone-g: (210px, 192px, -210px, -192px, 12px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'icon-phone-g', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 408px;
$icon-phone-y: 196px;
$icon-phone-offset-x: -408px;
$icon-phone-offset-y: -196px;
$icon-phone-width: 9px;
$icon-phone-height: 14px;
$icon-phone-total-width: 419px;
$icon-phone-total-height: 409px;
$icon-phone-image: '../images/sprites/sprite.png';
$icon-phone: (408px, 196px, -408px, -196px, 9px, 14px, 419px, 409px, '../images/sprites/sprite.png', 'icon-phone', );
$icon-plike-name: 'icon-plike';
$icon-plike-x: 310px;
$icon-plike-y: 0px;
$icon-plike-offset-x: -310px;
$icon-plike-offset-y: 0px;
$icon-plike-width: 20px;
$icon-plike-height: 20px;
$icon-plike-total-width: 419px;
$icon-plike-total-height: 409px;
$icon-plike-image: '../images/sprites/sprite.png';
$icon-plike: (310px, 0px, -310px, 0px, 20px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-plike', );
$icon-repairer-name: 'icon-repairer';
$icon-repairer-x: 108px;
$icon-repairer-y: 192px;
$icon-repairer-offset-x: -108px;
$icon-repairer-offset-y: -192px;
$icon-repairer-width: 21px;
$icon-repairer-height: 24px;
$icon-repairer-total-width: 419px;
$icon-repairer-total-height: 409px;
$icon-repairer-image: '../images/sprites/sprite.png';
$icon-repairer: (108px, 192px, -108px, -192px, 21px, 24px, 419px, 409px, '../images/sprites/sprite.png', 'icon-repairer', );
$icon-rout-name: 'icon-rout';
$icon-rout-x: 0px;
$icon-rout-y: 0px;
$icon-rout-offset-x: 0px;
$icon-rout-offset-y: 0px;
$icon-rout-width: 49px;
$icon-rout-height: 32px;
$icon-rout-total-width: 419px;
$icon-rout-total-height: 409px;
$icon-rout-image: '../images/sprites/sprite.png';
$icon-rout: (0px, 0px, 0px, 0px, 49px, 32px, 419px, 409px, '../images/sprites/sprite.png', 'icon-rout', );
$icon-service-name: 'icon-service';
$icon-service-x: 360px;
$icon-service-y: 149px;
$icon-service-offset-x: -360px;
$icon-service-offset-y: -149px;
$icon-service-width: 18px;
$icon-service-height: 18px;
$icon-service-total-width: 419px;
$icon-service-total-height: 409px;
$icon-service-image: '../images/sprites/sprite.png';
$icon-service: (360px, 149px, -360px, -149px, 18px, 18px, 419px, 409px, '../images/sprites/sprite.png', 'icon-service', );
$icon-star-name: 'icon-star';
$icon-star-x: 241px;
$icon-star-y: 302px;
$icon-star-offset-x: -241px;
$icon-star-offset-y: -302px;
$icon-star-width: 16px;
$icon-star-height: 14px;
$icon-star-total-width: 419px;
$icon-star-total-height: 409px;
$icon-star-image: '../images/sprites/sprite.png';
$icon-star: (241px, 302px, -241px, -302px, 16px, 14px, 419px, 409px, '../images/sprites/sprite.png', 'icon-star', );
$icon-tire-w-name: 'icon-tire-w';
$icon-tire-w-x: 360px;
$icon-tire-w-y: 0px;
$icon-tire-w-offset-x: -360px;
$icon-tire-w-offset-y: 0px;
$icon-tire-w-width: 18px;
$icon-tire-w-height: 20px;
$icon-tire-w-total-width: 419px;
$icon-tire-w-total-height: 409px;
$icon-tire-w-image: '../images/sprites/sprite.png';
$icon-tire-w: (360px, 0px, -360px, 0px, 18px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-tire-w', );
$icon-tire-name: 'icon-tire';
$icon-tire-x: 360px;
$icon-tire-y: 50px;
$icon-tire-offset-x: -360px;
$icon-tire-offset-y: -50px;
$icon-tire-width: 18px;
$icon-tire-height: 20px;
$icon-tire-total-width: 419px;
$icon-tire-total-height: 409px;
$icon-tire-image: '../images/sprites/sprite.png';
$icon-tire: (360px, 50px, -360px, -50px, 18px, 20px, 419px, 409px, '../images/sprites/sprite.png', 'icon-tire', );
$icon-tireb-name: 'icon-tireb';
$icon-tireb-x: 139px;
$icon-tireb-y: 55px;
$icon-tireb-offset-x: -139px;
$icon-tireb-offset-y: -55px;
$icon-tireb-width: 27px;
$icon-tireb-height: 29px;
$icon-tireb-total-width: 419px;
$icon-tireb-total-height: 409px;
$icon-tireb-image: '../images/sprites/sprite.png';
$icon-tireb: (139px, 55px, -139px, -55px, 27px, 29px, 419px, 409px, '../images/sprites/sprite.png', 'icon-tireb', );
$icon-wservice-name: 'icon-wservice';
$icon-wservice-x: 49px;
$icon-wservice-y: 246px;
$icon-wservice-offset-x: -49px;
$icon-wservice-offset-y: -246px;
$icon-wservice-width: 22px;
$icon-wservice-height: 22px;
$icon-wservice-total-width: 419px;
$icon-wservice-total-height: 409px;
$icon-wservice-image: '../images/sprites/sprite.png';
$icon-wservice: (49px, 246px, -49px, -246px, 22px, 22px, 419px, 409px, '../images/sprites/sprite.png', 'icon-wservice', );
$icon-wvideo-name: 'icon-wvideo';
$icon-wvideo-x: 0px;
$icon-wvideo-y: 302px;
$icon-wvideo-offset-x: 0px;
$icon-wvideo-offset-y: -302px;
$icon-wvideo-width: 23px;
$icon-wvideo-height: 16px;
$icon-wvideo-total-width: 419px;
$icon-wvideo-total-height: 409px;
$icon-wvideo-image: '../images/sprites/sprite.png';
$icon-wvideo: (0px, 302px, 0px, -302px, 23px, 16px, 419px, 409px, '../images/sprites/sprite.png', 'icon-wvideo', );
$spritesheet-width: 419px;
$spritesheet-height: 409px;
$spritesheet-image: '../images/sprites/sprite.png';
$spritesheet-sprites: ($ic-arr-wgray, $ic-arrow-l, $ic-arrow-lh, $ic-arrow-lw, $ic-arrow-rw, $ic-aw-or, $ic-azs-gr, $ic-comments-low, $ic-comments, $ic-footer-search, $ic-gstar-mid, $ic-lb-close, $ic-lb-next, $ic-lb-prev, $ic-rselect-arr, $ic-select-arr, $ic-sep-arr, $ic-tick-gray, $ic-wstar-mid, $icon-arrs, $icon-aw-w, $icon-aw, $icon-azs-gb, $icon-azs-gg, $icon-azs-go, $icon-azs-gr, $icon-azs-gt, $icon-azs-gw, $icon-azs-w, $icon-azs, $icon-bag, $icon-clock-g, $icon-clock, $icon-date-r, $icon-detail, $icon-dislike, $icon-event, $icon-favor, $icon-flask, $icon-globe, $icon-gstar, $icon-like, $icon-marker-g, $icon-marker-gg, $icon-marker-r, $icon-marker, $icon-ncar, $icon-news, $icon-phone-g, $icon-phone, $icon-plike, $icon-repairer, $icon-rout, $icon-service, $icon-star, $icon-tire-w, $icon-tire, $icon-tireb, $icon-wservice, $icon-wvideo, );
$spritesheet: (419px, 409px, '../images/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
