// Mix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient($from, $to) {
  background: $from;
  background: linear-gradient(to bottom,  $from 0%, $to 100%);
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {color:$color; transition: $trans;}
  &::-moz-placeholder          {color:$color; transition: $trans;}
  &:-moz-placeholder           {color:$color; transition: $trans;}
  &:-ms-input-placeholder      {color:$color; transition: $trans;}
}

// Function
@function em($px, $base) {
    @return ($px / $base) * 1em;
}

// colors
$white: #fff;
$black: #000;


// Red
$rede1: #E16B59;
$red9b: #9B3525;
$redd2: #D25845;
$redff: #FFAB9A;
$redfa: #FAC4BB;
$redd7: #D77263;
$red80: #80433B;
$redc9: #E16B59;
$red88: #883623;
$redd0: #D05A48;
$redfd: #fdc3b6;
$redee: #FF6049;

// Green
$green87: #87AE2E;
$green00: #00A90C;
$green4e: #4E723A;
$green76: #76a25e;
$green50: #50aa00;
$green93: #93ae2b;
$green23: #93af2b;


// Blue
$blue6e: #6e96c6;
$blue57: #5797c9;

// Yellow
$yele7: #E79D21;
$yeld6: #d69f16;
$yellff: #ffe400;

// Orange
$oranbc: #bc7840;

// Gray
$grayf5: #f5f5f5;
$graye2: #e2e2e2;
$graydc: #dcdcdc;
$grayce: #cecece;
$grayca: #cacaca;
$grayc9: #c9c9c9;
$grayc0: #C0C0C0;
$grayba: #bababa;
$gray81: #818181;
$grayb5: #b5b5b5;
$grayae: #aeaeae;
$graya5: #a5a5a5;
$gray9a: #9a9a9a;
$gray9: #999;
$gray98: #989898;
$gray70: #707070;
$gray6a: #6a6a6a;
$gray6: #666;
$gray61: #616161;
$gray53: #535353;
$gray33: #333;
$gray29: #292929;
$gray1c: #1c1c1c;
$gray1a: #1a1a1a;



// trans
$trans: .2s linear;

// Fonts
$reg: 'ProximaNova-Regular';
$italic: 'ProximaNova-Italic';
$lightI: 'ProximaNova-LightI';
$cbold: 'ProximaNova-CBold';
$bold: 'ProximaNova-Bold';
$sBoldI: 'ProximaNova-SBoldIt';
$thinI: 'ProximaNova-ThinIt';
