<!-- Header -->
<header id="header" class="header">
  <section class="container header-inner">
    <div class="header-l fl">

      <!-- Nav -->
      <nav class="header-nav fl dd-wrap">
        <button class="header-nav__btn dd-show">
          <span></span>
        </button>

        <div class="header-nav__dd dd">
          <div class="header-nav__top">
            <span class="header-nav__close dd-show"></span>
            <div class="header-nav__logo">
              <img src="images/nav-logo.png" alt="">
            </div>
          </div>

          <ul class="header-list">
            {% for headList in [
              ['service', 'СТО', '1204'],
              ['azs', 'АЗС', '763'],
              ['bag', 'Автомагазины', '641'],
              ['aw', 'Автомойки', '2701'],
              ['tire', 'Шиномонтаж', '1975'],
              ['repairer', 'Частный мастер', '4072'],
              ['ncar', 'Автосалон', '247'],
              ['detail', 'Детейлинг', '12034'],
              ['event', 'События', '2 / 71']
            ] %}
            <li class="header-list__item">
              <a href="/" class="header-list__link">
                <div class="header-list-l">
                  <span class="header-list__icon" style="background-image: url(images/icons/icon-<$headList[0]$>.png)"></span>
                </div>

                <p class="header-list__name"><$ headList[1]  $></p>

                <div class="header-list-r">
                  <span class="header-list__count">{% if loop.last %}
                  <span>2</span> / 71{% else %}<$ headList[2] $>{% endif %}</span>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <!-- Nav end -->

      <a href="/" class="header-logo fl"><img src="images/logo.png" alt=""></a>

        {% set selectOpts = {
          title: 'Киев',
          selectClass: ' header-select select-red',
          list: ['Киев 1', 'Киев 2', 'Киев 3', 'Киев 3', 'Киев 4', 'Киев 5', 'Киев 6']
        } %}
        {% include 'blocks/select.html' %}

        {% if regHead != false %}
        {% if auth == true %}
        <div class="header-auth__box fl">
          <a href="/" class="header-auth header-reg">Регистрация</a>
          <a href="/" class="header-auth header-enter">Войти</a>
        </div>
        {% else %}
        <div class="header-user fl dd-wrap">
          <figure class="user-fig dd-show">
            <span class="user-l">
              <span class="user-mess" data-tooltip="Новые сообщения">2</span>
              <span class="avatar-box avatar-box__l" style="background-image: url(images/avatars/item1.jpg)">
              </span>
            </span>
            <figcaption class="user-name">MPS_ne_edet</figcaption>
          </figure>

          <div class="user-dd dd">


            <ul class="user-list">
              {% for userL in ['Избранное', 'Настройки', 'Бонусы'] %}
              <li class="user-list__item">
                <a href="/" class="user-list__link"><$ userL $></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="header-r fr">
      {% if regHead != false %}
      <a href="/" class="header-app"><img src="images/apps/apple.svg" class="svg" alt=""></a>
      <a href="/" class="header-app"><img src="images/apps/google.svg" class="svg" alt=""></a>
      {% else %}
        <a href="/" class="header-auth header-enter">Войти</a>
      {% endif %}
    </div>
  </section>
</header>
<!-- Header end -->
