<!-- build:js scripts/map-api.js -->
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
<!-- endbower -->
<script src="scripts/map.js"></script>
<script src="scripts/tooltip.js"></script>
<script src="scripts/jquery.swipebox.min.js"></script>
<script src="scripts/scrollsp.js"></script>
<!-- endbuild -->


<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
