.s {

  &-section {
    margin-bottom: 90px;
  }

  &-title {
    font-size: 27px;
    color: $gray61;
    width: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;

    &-l {
      padding: 12px 0;
    }

    &-ic {
      height: 56px;
      width: 48px;
      background-color: $white;
      border-radius: 3px;
      display: block;
      position: relative;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 8px 0px rgba($black, .3);

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-text {
      padding: 0 15px;

      span {
        color: $gray9;
      }
    }
  }

  &-items {
    margin-top: 35px;
  }

  &-item {
    display: flex;
    border-bottom: 1px solid $graye2;
    padding: 10px 0 9px 5px;
    color: $gray81;
    box-sizing: border-box;
    font-size: 14px;
    transition: background $trans;

    &:hover {
      background: $grayf5;
    }

    &-body {
      padding-right: 30px;
      flex-grow: 1;
      display: flex;
      min-width: 0;
      flex-direction: row;
      flex-wrap: wrap;

      .s-item-low & {
        min-width: 0;
        flex-basis: 50%;
      }
    }

    &-img {
      width: 200px;

      .s-item-low & {
        width: 140px;
        text-align: center;
      }
    }

    &-info {
      flex-grow: 1;

      .s-item-low & {
        display: block;
        min-width: 0;
      }
    }

    &-head {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-top: 10px;
      margin-top: -10px;
      color: $gray70;

      .s-item:hover & {
        color: $redc9;
      }
    }

    &-name {
      font-size: 18px;
      display: inline-block;
      text-decoration: underline;
      line-height: 1;
      position: relative;
      transition: $trans;
      color: inherit;

      .s-item-low & {
        display: inline;
      }

      .s-item:hover & {

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -5px;
      width: 15px;
      margin-right: 6px;
      text-align: center;

      .great & {
        width: 20px;
      }
    }

    &-events {
      font-size: 10px;
      font-family: $bold;
      color: $white;
      border-radius: 10px;
      min-width: 19px;
      text-align: center;
      background: $redc9;
      display: block;
      padding: 5px 3px 4px 2px;
      position: absolute;
      left: 100%;
      margin-left: 3px;
      top: -6px;
      box-sizing: border-box;
    }

    &-rating {
      display: inline-block;
      margin-top: 3px;

      .r-stars {
        margin-top: 2px;
      }

      .s-item-low & {
        margin-top: 15px;

        .rating-voted {
          min-width: auto;
        }
      }
    }

    &-add {
      margin-top: 20px;
      color: $gray81;
      font-size: 14px;

      &.great {
        font-size: 22px;
      }
    }
  }

  &-phone {
    margin-top: 13px;
    color: $gray81;
    font-size: 14px;

    &.great {
      font-size: 16px;
      margin-top: 20px;
    }
  }

  &-clock {
    margin-top: 13px;
    font-size: 12px;
    color: $gray81;

    &-top {
      position: relative;
      z-index:1;
    }

    &.dd-wrap {
      display: inline-block;

      .dd {
        top: -10px;
        left: -7px;
        width: 150px;
        background: $redc9;
        padding: 33px 10px 8px;
        font-size: 12px;
        border-radius: 3px;
        box-sizing: border-box;
        box-shadow: 0 0 8px 0 rgba($black, .3);
      }

      &:hover {
        color: $white;

        .icon {
          @include sprite($icon-lclock-w);
        }
      }
    }

    &-item {
      margin: 3px 0;

      span {
        width: 28px;
        display: inline-block;
      }
    }

    &-text {
      border-bottom: 1px dashed;
      line-height: 1;
      display: inline-block;
      transition: border $trans;

      .s-clock.dd-wrap:hover & {
        border-color: transparent;
      }
    }

    &.great {
      font-size: 14px;
      margin-top: 20px;

      &:hover {
        .icon {
          @include sprite($icon-clock-w);
        }
      }
    }
  }

  &-dom {
    font-size: 14px;
    margin-top: 15px;

    &.great {
      margin-top: 25px;
    }

    a {
      color: $redc9;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-body-right {
    float: right;
    text-align: right;
  }

  &-comm {
    margin-top: 20px;

    &-icon {
      margin-bottom: -1px;
    }

    &-count {
      font-size: 13px;
      min-width: 37px;
      display: inline-block;
      position: relative;
      color: $gray81;
    }

    &-new {
      font-size: 10px;
      font-family: $bold;
      color: $white;
      border-radius: 10px;
      min-width: 19px;
      text-align: center;
      background: $green50;
      display: block;
      padding: 4px 2px 3px 2px;
      position: absolute;
      left: 100%;
      margin-left: -5px;
      top: -10px;
      box-sizing: border-box;
    }
  }

  &-more {
    font-size: 12px;
    color: $redc9;
    display: inline-block;
    margin-top: 42px;
    text-decoration: underline;

    .s-item-low & {
      margin-top: 13px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-sub-title {
    color: $gray61;
    margin: em(15px, 16px) 0;
    font-size: 16px;
    font-family: $lightI;
    padding: 0 2px;
  }

  &-date-last {
    font-size: 12px;
    color: $gray81;
    font-family: $lightI;
    float: right;
    margin-top: 1px;
  }

  &-btn {
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: $gray81;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    margin: 4px 0;
    transition: background $trans;

    &:hover {
      background: $redc9;
      color: $white;
    }

    &-text {
      padding-left: 14px;
      flex-grow: 1;
    }

    &-icon {
      width: 54px;
      min-width: 54px;

      .icon {
        display: block;
        margin: auto;

        .s-btn:hover & {
          display: none;

          &.hover {
            display: block;
          }
        }

        &.hover {
          display: none;
        }
      }
    }
  }

  &-on {
    margin: 25px 0 15px;

    &-item {
      height: 56px;

      .s-btn-text {
        padding: 0 14px 0 0;
      }
    }
  }

  &-single {

    &-title {
      margin-left: -10px;

      .s-title-l {
        padding: 0;
      }
    }

    &-info {
      margin-top: 30px;
    }

    &-rating {
      margin: 15px 0 35px;
      padding-right: 10px;
    }
  }

  &-carousel {
    margin: 35px 0;
  }

  &-event {
    background: $redc9;

    &:nth-of-type(2n) {
      background: $redd0;
    }

    &s {
      margin: 15px 0;

      &-title {
        color: $redc9;
        padding: 0 5px;

        &:before {
          content: '';
          display: inline-block;
          @include sprite($icon-date-r);
          vertical-align: middle;
          margin-top: -8px;
          margin-right: 13px;
        }
      }
    }

    color: $white;
    line-height: 1.4;

    &-date {
      color: $yellff;
      font-family: $bold;
    }

    &-text {
      margin: em(18, 16) 0;
      color: $white;
    }

    &-link {
      display: inline;
      margin-right: 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    &-adm {
      color: $redfd;
      font-size: 14px;
      font-family: $sBoldI;
      display: block;
    }

    &-comm {
      font-size: 13px;
      vertical-align: middle;

      .icon {
        margin-right: 10px;
      }
    }

    &-top {
      padding: 25px;

      .s-event-date {
        font-size: 20px;
      }

      .s-event-title {
        font-size: 24px;
      }

      .s-event-text {
        font-size: 16px;
      }
    }

    &-low {
      padding: 15px 25px 15px 45px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 25px;
        top: 24px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: $white;
      }

      .s-event-date {
        font-size: 14px;
      }

      .s-event-title {
        font-size: 20px;
      }
    }
  }

  &-sb {

    &-btns {
      margin: 20px 0;
    }
  }

  &-services {
    margin: 22px 0 15px;

    &-title {
      margin: em(12, 16) 0;
    }
  }

  &-service {

    &-item {
      font-size: 14px;
      margin: em(7, 14) 0;
      padding-left: 28px;
      position: relative;
      line-height: 1.3;

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 8px;
        transform: translate(-50%, -50%);
      }

      &.plus {
        font-family: $lightI;
        color: $gray98;

        &:before {
          content: '+';
          top: 9px;
        }
      }

      &.tick {

        &:before {
          @include sprite($ic-tick-gray);
        }
      }
    }
  }

  &-full {
    border-bottom: 5px solid $graydc;
    margin: 20px 0;

    &-title {
      padding: 12px 20px;
      background: $grayba;
    }

    &-row {
      display: flex;
      margin: 20px 0;
    }

    &-cel {
      flex-grow: 1;
      flex-basis: 50%;

      &:nth-of-type(1) {
        padding-right: 5px;
      }

      &:nth-of-type(2) {
        padding-left: 5px;
      }
    }

    &-item {
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 2px;
      margin: 1px 0;

      &:hover,
      &.active {
        border: 1px solid $graydc;
      }
    }
  }

  &f {

    &-item {

      &-title {
        font-size: 16px;
        color: $gray81;
        text-decoration: underline;
        display: block;
        padding: 10px 18px;
        font-family: $light;

        .s-full-item.active & {
          color: $redc9;
        }

        &:hover {

          &:after {
            opacity: 1;
          }
        }

        &:after {
          content: '';
          position: absolute;
          right: 19px;
          top: 50%;
          margin-top: -4px;
          @include sprite($ic-arr-wgray);
          opacity: 0;
          transition: opacity $trans, transform $trans;

          .s-full-item.active & {
            opacity: 1;
            @include sprite($ic-arr-wred);
            transform: rotateX(-180deg);
          }
        }
      }

      &-list {
        padding: 0 17px 10px;
      }

      &-name {
        font-size: 14px;
        color: $gray61;
        margin: 9px 0;
        position: relative;
        padding-left: 18px;

        &:before {
          content: '';
          position: absolute;
          top: 5px;
          left: 3px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $redc9;
        }
      }
    }
  }
}

.se {

  &-dis {
    background: $grayba;
    color: $white;
    padding: 20px;

    &-title {
      text-align: center;
      font-size: 20px;
      overflow: hidden;
      position: relative;
      margin: em(5, 20) 0;

      &:before {
        content: '';
        position: absolute;
        height: 1px;
        background: $white;
        top: 12px;
        right: 0;
        left: 0;
      }

      span {
        position: relative;
        padding: 0 15px;
        display: inline-block;
        background: $grayba;
      }
    }

    &-item {
      font-size: 18px;
      padding-left: 25px;
      position: relative;
      margin: em(10, 18) 0;

      &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: $white;
      }
    }

    &-link {

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.c-obj {
  margin: 50px 0;

  &-title {
    margin: em(20, 30) 0;

    span {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: -24px;
        margin-top: -13px;
        @include sprite($icon-marker-r);
      }
    }
  }
}

.m-services {

  &-wrap {
    display: flex;
    padding: 0 25px;
  }

  &-cel {
    flex-grow: 1;
    color: $white;
    padding: 0 15px;
    line-height: 1.2;
  }

  &-box {

    &:first-of-type {

      .m-services-name {
        margin-top: 5px;
      }
    }
  }

  &-name {
    font-size: 16px;
    margin-top: 20px;
    font-family: $light;
  }

  &-item {
    font-size: 12px;
    position: relative;
    padding-left: 18px;
    margin: 8px 0 8px 2px;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 3px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $white;
    }
  }
}
