{% set auth = false %}
{% set bgClass = '' %}
{% extends 'layout.html' %}
{% block content %}
<div id="map"></div>
<div class="t-strip">

  <div class="container">
    <div class="c-list-wrap">
  <div class="l-title c-list-title">Лучшие компании Украины по версии WBA</div>

      <div class="c-list-body">
        {% include 'blocks/company-list.html' %}
      </div>
    </div>

    <div class="pop-wrap">
      <div class="l-title pop-wrap__title">Популярные запросы</div>

      <div class="pop-wrap__list">
        {% for item in [['Полировка полок', '121'], ['Замена масла КПП', '77'], ['Вулканизация', '385'], ['Тонировка', '51'], ['Ремонт турбин', '9'], ['Тонировка', '51'], ['Ремонт турбин', '9'], ['Полировка полок', '121'], ['Замена масла КПП', '77'], ['Вулканизация', '385'], ['Замена масла КПП', '77'], ['Вулканизация', '385'], ['Тонировка', '51'], ['Ремонт турбин', '9']] %}
        <div class="pop-wrap__item">
          <a href="/" class="btn btn-white pop-wrap__btn"><span class="pop-wrap__text"><$ item[0] $></span> <span class="pop-wrap__count"><$ item[1] $></span></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="c-fuel">

      <div class="с-fuel-head">
        {% set selectOpts = {
          title: 'Киев',
          selectClass: ' select-wgray c-fuel-select',
          list: ['Киев', 'Киев', 'Киев', 'Киев', 'Киев', 'Киев', 'Киев']
        } %}
        {% include 'blocks/select.html' %}

        <div class="h-title c-fuel-title"><i class="icon icon-flask"></i><span>Проверка качества топлива</span></div>
      </div>

      <article class="fuel-artic">
        <div class="fuel-artic__left">
          <div class="fuel-artic__img" style="background-image: url(images/fuel-img/item1.jpg)">

          </div>
        </div>

        <div class="fuel-artic__body">
          <div class="fuel-artic__head">
            <time class="fuel-artic__date">19.01.2016</time>
            <a href="/" class="fuel-artic__vid"></a>
          </div>
          <a href="/" class="fuel-artic__title">98-й бензин. Тест 17-и АЗС Харькова.</a>
          <p class="fuel-artic__text">Исключитель но путем сбора проб инициативной группой автомобилистов над шего проекта и заказа проведения соответствующих исследований. Заказа и проведения соответствующих исследований группой автомобилистов нашего проекта и заказа проведения заказа проведения соот ветствующих и сследциативной группой автомобилистов.</p>
          <a href="/" class="fuel-artic__link"></a>
        </div>
      </article>

      {% set cities = [{
        name: 'Киев',
        empty: 0,
        list: [
          {
            icon: 'gb',
            iconText: 'дт',
            title: 'тест 95+ бензина',
            text: 'Протестированно 17 АЗС',
            date: '19.01.2016'
          },
          {
            icon: 'gd',
            iconText: '98',
            title: 'тест 98 бензина',
            text: 'Протестированно 15 АЗС',
            date: '31.01.2016'
          },
          {
            icon: 'go',
            iconText: '100',
            title: 'тест 100 бензина',
            text: 'Протестированно 17 АЗС',
            date: '8.02.2016'
          },
          {
            icon: 'gr',
            iconText: '92',
            title: 'тест 92 бензина',
            text: 'Протестированно 17 АЗС',
            date: '8.02.2016'
          }
        ]
      },
      {
        name: 'Днепр',
        empty: 1,
        list: [
          {
            icon: 'go',
            iconText: '100',
            title: 'тест 100 бензина',
            text: 'Протестированно 17 АЗС',
            date: '8.02.2016'
          },
          {
            icon: 'gg',
            iconText: '95',
            title: 'тест 95+ бензина',
            text: 'Протестированно 17 АЗС',
            date: '19.01.2016'
          },
          {
            icon: 'gb',
            iconText: 'дт',
            title: 'тест 95+ бензина',
            text: 'Протестированно 17 АЗС',
            date: ''
          }
        ]
      },
      {
        name: 'Харьков',
        empty: 0,
        list: [
          {
            icon: 'gb',
            iconText: 'дт',
            title: 'тест 95+ бензина',
            text: 'Протестированно 17 АЗС',
            date: '19.01.2016'
          },
          {
            icon: 'gd',
            iconText: '98',
            title: 'тест 98 бензина',
            text: 'Протестированно 15 АЗС',
            date: '31.01.2016'
          },
          {
            icon: 'gr',
            iconText: '92',
            title: 'тест 92 бензина',
            text: 'Протестированно 17 АЗС',
            date: '31.01.2016'
          },
          {
            icon: 'gt',
            iconText: '95',
            title: 'тест 95 бензина',
            text: 'Протестированно 17 АЗС',
            date: '8.02.2016'
          }
        ]
      }] %}

      <div class="cf-cities">
        {% for city in cities %}
        <div class="cf-city-box">
          <div class="cf-city-name"><a href="/" class="m-link"><$ city.name $></a></div>

          <ul class="cf-city-list">
            {% for item in city.list %}
            <li class="cf-city-item">
              <a href="/" class="cf-city-link">
                <div class="cf-city-icon">
                  <i class="icon icon-azs-<$ item.icon $>"><$ item.iconText $></i>
                </div>
                <div class="cf-city-body">
                  <div class="cf-city-name"><$ item.title $></div>
                  <p class="cf-city-text"><$ item.text $></p>
                </div>
                <time class="cf-city-date"><$ item.date $></time>
              </a>
            </li>
            {% endfor %}
            {% for empty in range(0,city.empty) %}
            <li class="cf-city-item empty">
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'blocks/port-news.html' %}
</div>
{% endblock %}
