{% set auth = false %}
{% set ftext = {bg: 'gray', show: true} %}
{% extends 'layout.html' %}
{% block content %}
<div id="map"></div>

<div class="t-strip s-single-wrap">
  <section class="container s-section">

    {% set breadcrumbs = ['AUTOporter', 'Шиномонтаж в Киеве', 'Шиномонтаж “Дядя Вадик”'] %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="content-wrap s-single">
      <div class="content">
        <div class="s-single-title">
          <h1 class="s-title">
            <div class="s-title-l">
              <span class="avatar-box avatar-box__t">
                <img src="images/avatars/item1.png" alt="">
              </span>
            </div>
            <div class="s-title-text">Шиномонтаж “Дядя Вадик”</div>
          </h1>
        </div>
        <div class="s-single-info">
          <div class="s-date-last">Последние изменения: 27.09.2015</div>
          <div class="s-sub-title">Контактная информация:</div>

          <div class="s-item-add great"><span class="s-item-icon"><i class="icon-marker-gg icon"></i></span> г. Киев, ул. Генераторная, 9</div>
          <div class="s-phone great"><span class="s-item-icon"><i class="icon-phone-g icon"></i></span> (067) 574 77 77,  (050) 574 77 78</div>
          <div class="dd-wrap hover s-clock great">
            <div class="s-clock-top">
              <span class="s-item-icon"><i class="icon-clock-g icon"></i></span>
              <span class="s-clock-text">Режим работы</span>
            </div>
            <div class="dd">
              <ul class="s-clock-list">
                {% for item in [['пн', '10:00 - 20:00'], ['вт', '10:00 - 20:00'],['ср', '10:00 - 20:00'], ['чт', '10:00 - 20:00'], ['пт', '10:00 - 20:00'], ['сб', '10:00 - 17:00'], ['вс', 'выходной']] %}
                <li class="s-clock-item"><span><$ item[0] $></span><$ item[1] $></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="s-dom great"><span class="s-item-icon"><i class="icon-globe icon"></i></span> <a href="/">http://mpsneedet.kiev.ua</a></div>
        </div>

        <div class="s-carousel">
          <div class="s-sub-title">Фотографии компании (37):</div>
          <div class="img-carousel__wrap">
            <div class="img-carousel slider" data-slick='{"slidesToShow": 3, "infinite": false}'>
              {% for item in range(0,6) %}
              <div class="slide">
                <a href="images/tire-fitting/item<$ loop.index $>.jpg" title="Картинка <$ loop.index $>" rel="slider-gallery" class="img-box box230 swipebox" style="background-image: url(images/tire-fitting/item<$ loop.index $>.jpg)"></a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="s-full">

          <div class="sl-title white s-full-title">Полный перечень услуг шиномонтажа</div>

          {% set fullServices = [[{
            name: 'Сервисное ТО',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Тормозная система',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Подвеска',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Рулевое управление',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Двигатель',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Топливная система',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Электрика',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          }], [{
            name: 'Выхлопная система',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Сцепление',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Трансмиссия',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Климат-контроль',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Кузов',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Дополнительно',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          },{
            name: 'Страхование',
            list: ['Замена масла в двигателе', 'Плановое техобслуживание', 'Компьютерная диагностика', 'Замена воздушного фильтра двигателя', 'Замена воздушного фильтра салона', 'Замена масла в КПП', 'Замена охлаждающей жидкости', 'Замена ремня ГРМ', 'Замена приводного ремня', 'Замена роликов ГРМ', 'Замена комплекта ремня ГРМ с роликами и водяной помпой', 'Замена роликов привода', 'Промывка двигателя']
          }]] %}

          <div class="s-full-row">
            {% for servicesCel in fullServices %}
              <div class="accordion s-full-cel">
                {% for servItem in servicesCel %}
                <div class="accordion-item s-full-item">
                  <a href="#" class="accordion-head sf-item-title"><$ servItem.name $></a>

                  <ul class="accordion-body sf-item-list">
                    {% for servlist in servItem.list %}
                    <li class="sf-item-name"><$ servlist $></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>

        </div>

        <div class="s-events">
          <div class="s-events-title m-title">События (2)</div>
          <article class="s-event s-event-top">
            <time class="s-event-date">С 15 января по 31 января</time>
            <div class="s-event-title"><a href="/" class="s-event-link">Для всех владельцев Ауди скидка 15%</a></div>
            <p class="s-event-text">9-ый Международный салон грузовых и коммерческих автомобилей TIR 2016
            Публикуя эти данные на сайте, мы не претендуем на 100 процентную репрезентативность, поскольку получить такую в сложном вопросе качества украинского топлива не может даже государство - наша зта прецедент Народного.</p>
            <span class="s-event-adm">Администрация</span>
          </article>

          <article class="s-event s-event-low">
            <time class="s-event-date">С 10 января по 10 февраля</time>
            <div class="s-event-title"><a href="/" class="s-event-link">Наша задача создать первый в истории украинского</a></div>
          </article>

          <div class="se-dis">

            <div class="se-dis-title"><span>Не активные</span></div>

            <ul class="se-dis-list">
              {% for item in ['Репрезентативность, поскольку получить такую в сложном вопросе качества украинского топлива не может даже государство', 'Наша задача создать первый в истории украинского интернета прецедент', 'Народного контроля за качеством товаров и услуг.'] %}
              <li class="se-dis-item"><a href="/" class="se-dis-link"><$ item $></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="n-know-block n-know-high">
          <div class="n-know-title">Это важно знать</div>
          <p class="n-know-text">Все данные о качестве топлива на AUTOporter получены исключительно путем сбора проб инициативной группой автомобилистов нашего проекта и заказа проведения соответствующих исследований в независимой лаборатории. 100 процентную репрезентативность, поскольку получитого топлива не может даже государство - наша задача создать первый в истории украинского интернета прецедент Народного контроля за качеством товаров и услуг.</p>
          <p class="n-know-text">Получить такую в сложном вопросе качеств интернета прецедент Народного контроля за качеством товаров и услуг. </p>
        </div>
      </div>

      <div class="sb sb-r">

        {% set starSettings = {
            voted: 1324,
            active: 4,
            wrapClass: ' rating-middle s-single-rating',
            starClass: ' rating-star__w'
          }
        %}
        {% include 'blocks/stars.html' %}

        <div class="s-sb-btns">
          <a href="#" class="s-btn">
            <span class="s-btn-text">Проложить маршрут</span>
            <span class="s-btn-icon">
              <i class="icon-rout icon"></i>
              <i class="icon-wrout icon hover"></i>
            </span>
          </a>
          <a href="#" class="s-btn">
            <span class="s-btn-text">Добавить в Избранное</span>
            <span class="s-btn-icon">
              <i class="icon-favor icon"></i>
              <i class="icon-wfavor icon hover"></i>
            </span>
          </a>
        </div>

        <div class="s-on">
          <div class="s-sub-title s-on-title">На территории:</div>
          <a href="/" class="s-btn s-on-item">
            <span class="s-btn-icon">
              <i class="ic-aw-or icon"></i>
              <i class="icon-aw-w icon hover"></i>
            </span>
            <span class="s-btn-text">Автомойка</span>
          </a>
          <a href="/" class="s-btn s-on-item">
            <span class="s-btn-icon">
              <i class="ic-azs-gr icon"></i>
              <i class="icon-azs-w icon hover"></i>
            </span>
            <span class="s-btn-text">АЗС</span>
          </a>
        </div>

        <div class="s-services">
          <div class="s-sub-title s-services-title">Предлагаемые услуги:</div>

          <ul class="s-services-list">
            {% set serList = ['Балансировка', 'Шиномонтаж', 'Ремонт шин', 'Прокат дисков', 'Закачка шин газом', 'Сварка аргоном', 'Утренники', 'Елка', 'Аниматоры', 'Сладкий стол'] %}
            {% for service in serList %}
              <li class="s-service-item {% if loop.index < 7 %}tick{% else %}plus{% endif %}"><$ service $></li>
            {% endfor %}
          </ul>
        </div>

        <div class="sb-sep"></div>

        <div class="s-services">
          <div class="s-sub-title s-services-title">Способы оплаты:</div>

          <ul class="s-services-list">
            {% set serList = ['Наличные', 'Безнал', 'Кредитная карта'] %}
            {% for service in serList %}
              <li class="s-service-item tick"><$ service $></li>
            {% endfor %}
          </ul>
        </div>

        <div class="s-services">
          <div class="s-sub-title s-services-title">Сервис:</div>

          <ul class="s-services-list">
            {% set serList = ['Администратор', 'Wi-Fi', 'Комната отдыха', 'Кафе', 'Кофе-машина', 'Туалет'] %}
            {% for service in serList %}
              <li class="s-service-item tick"><$ service $></li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>

    {% include 'blocks/comments.html' %}
    <div class="c-obj">
      <div class="m-title c-obj-title"><span>Ближайшие объекты</span></div>

      <ul class="n-comp-list">
        {% set items = [
          {
            name: 'VIANOR EXPRESS',
            star: 4,
            starVoted: 1324,
            img: ['item1', '+7']
          },{
            name: 'VIANOR EXPRESS international work blablabla',
            events: '',
            star: 5,
            starVoted: 106,
            img: ['stub', '+3']
          }
        ] %}

        {% for collItem in items %}

        {% set starSettings = {
          voted: collItem.starVoted,
          active: collItem.star,
          wrapClass: ' rating-low s-item-rating',
          starClass: ' rating-star__g'
        }
        %}
        <li class="n-comp-item">
          {% include 'blocks/s-item-low.html' %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% endblock %}
