<div class="ftext-wrap <$ ftext.bg $>">
  <section class="container ftext-cont">
    <div class="ftext-cont__in">
      <div class="ftext-col">
        <h3>Это важно знать</h3>
        <p>Все данные о качестве топлива на AUTOporter получены исключительно путем сбора проб инициативной группой автомобилистов нашего проекта и заказа проведения соответствующих исследований в независимой лаборатории.</p>
        <p><i>“Публикуя эти данные на сайте, мы не претендуем на 100 процентную репрезентативность, поскольку получить такую в сложном вопросе качества украинского топлива не может даже государство”</i></p>
        <ul>
          {% for fList in ['- наша задача создать', '- первый в истории украинского интернета ', '- прецедент Народного контроля за качеством товаров и услуг.'] %}
          <li><$ fList $></li>
          {% endfor %}
        </ul>
        <p>Обращаемся к украинским сетям АЗС: мы уверены, что Вы заинтересованы в качестве топлива и стремитесь к повышению уровня этого качества. Поэтому будем благодарны за любую полезную информацию: начиная от предоставления сертификатов качества и до помощи в проведении лабораторных анализов.</p>
      </div>
      <div class="ftext-col">
        <h3>Для автозаправок</h3>
        <p>Обращаемся к украинским сетям АЗС: мы уверены, что Вы заинтересованы в качестве топлива и стремитесь к повышению уровня этого качества. Поэтому будем благодарны за любую полезную информацию: начиная от предоставления <a href="/">сертификатов качества</a> и до помощи в проведении лабораторных анализов*.</p>
        <h3>соответствующие автомойки Киева</h3>
        <p>Публикуя эти данные на сайте AUTOporter, мы не претендуем на 100 процентную репрезентативность.</p>
        <p>Вопросе качества украинского топлива не может даже государство - наша задача создать первый в истории украинского интернета прецедент Народного контроля за качеством товаров и услуг.</p>
      </div>
    </div>
    <span>* Поэтому будем благодарны за любую полезную информацию: начиная от предоставления сертификатов качества и до помощи в проведении лабораторных анализов.</span>
  </section>
</div>
