.c-obj {

  &-title {

    span {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: -24px;
        margin-top: -13px;
        @include sprite($icon-marker-r);
      }
    }
  }
}
