.header {
  background: $rede1;
  border-bottom: 1px solid $red9b;
  box-shadow: 0 0 8px rgba($black, .7);
  position: relative;
  z-index: 2;

  &-inner {
    @extend %clearfix;
  }

  &:before {
    content: '';
    display: block;
    background: $red9b;
    height: 10px;
  }

  &-l {
    @extend %clearfix;
  }

  &-nav {
    position: relative;
    z-index: 2;

    &__btn {
      display: block;
      float: left;
      width: 48px;
      height: 56px;
      background: $white;
      border: none;
      margin-top: -4px;
      margin-bottom: -2px;
      border-radius: 2px;
      box-shadow: 0 0 8px rgba($black, .3);
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      outline: none;

      span {
        display: block;
        width: 18px;
        height: 3px;
        background: $rede1;
        margin: auto;
        position: relative;
        transition: $trans;

        &:before,
        &:after {
          content: '';
          @extend span;
          position: absolute;
          left: 0;
        }

        &:before {
          top: -6px;
        }

        &:after {
          top: 6px;
        }
      }


      &:hover {

        span {
          background: $red9b;

          &:before,
          &:after {
            background: $red9b;
          }
        }
      }
    }

    &__dd {
      position: absolute;
      z-index: 1;
      left: 0;
      top: -4px;
      width: 48px;
      height: 56px;
      overflow: hidden;
      background: $white;
      border-radius: 2px;
      box-shadow: 0 0 8px rgba($black, .3);
      transform: scale(1);
      transition-property: width, height, visibility;
      opacity: 1;

      .dd-open & {
        height: 446px;
        width: 270px;
      }
    }

    &__top {
      width: 270px;
    }

    &__close {
      width: 48px;
      height: 54px;
      box-sizing: border-box;
      cursor: pointer;

      &:before {
        content: '';
        @include sprite($ic-arrow-l);
        display: block;
        margin: auto;
      }

      &:hover {

        &:before {
          @include sprite-position($ic-arrow-lh);
        }
      }
    }

    &__logo {
      padding-top: 6px;
      padding-left: 7px;
    }
  }

  &-list {
    margin: 20px 0 12px;
    line-height: 1.2;
    width: 270px;

    &__item {
      padding: 0 1px;
    }

    &__link {
      padding: 0 8px;
      height: 40px;
      box-sizing: border-box;
      @extend %clearfix;
      color: $gray61;
      font-size: 16px;
      transition: $trans;
      border-radius: 3px;

      &:hover {
        background: $graye2;
        color: $gray29;

        .header-list__icon {
          background-position: -32px 0;
        }
      }
    }

    &-l {
      width: 32px;
    }

    &__icon {
      width: 32px;
      height: 32px;
      display: block;
      border-radius: 50%;
      background: $white;
    }

    &__name {
      padding-left: 12px;
    }

    &-r {
      width: 50px;
    }

    &__count {
      background: $white;
      border: 1px solid $graydc;
      display: block;
      text-align: center;
      border-radius: 1px;
      font-size: 12px;
      padding: 6px 0 3px;

      span {
        color: $rede1;
      }
    }
  }

  &-logo {
    margin-left: 13px;
    padding: 15px 0 13px;

    img {
      display: block;
    }
  }

  &-auth__form {
    @extend %clearfix;
    margin-left: 95px;
  }

  &-auth {
    font-size: 14px;
    color: $white;
    padding: 18px 0;
    float: left;
    position: relative;

    &:before {
      content: '';
      left: 0;
      top: -2px;
      height: 2px;
      right: 0;
      position: absolute;
      transition: $trans;
    }

    &:hover {

      &:before {
        top: 10px;
      }
    }
  }

  &-reg {
    margin-right: 20px;

    &:before {
      background-color: $yele7;
    }
  }

  &-enter {
    &:before {
      background-color: $redff;
    }
  }

  &-user {
    margin: 6px 0 0 100px;
  }

  &-app {
    display: inline-block;
    border-radius: 5px;
    transition: $trans;
    margin: 11px 0 7px;

    &:hover {
      background-color: $red9b;

    }

    img {
      display: block;
    }
  }

  &-select {
    float: left;
    width: 140px;
    margin: 12px 10px 11px;
    font-size: 14px;
  }

}

.user {

  &-fig {
    padding-left: 37px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      @include sprite($ic-select-arr);
      display: block;
      position: absolute;
      left: 14px;
      top: 50%;
      margin-top: -1px;
      transition: $trans;

      .dd-open & {
        transform: rotateX(-180deg);
      }
    }

    &:hover {

      .user-name {
        text-decoration: underline;
      }
    }
  }

  &-l {
    width: 38px;
  }

  &-mess {
    position: absolute;
    right: -10px;
    top: -12px;
    border-radius: 50%;
    background-color: $green00;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 10px;
    color: $white;
    box-sizing: border-box;
    padding-top: 4px;
    font-family: $bold;
    box-shadow: 0 4px 4px 0 rgba($black, .35);
  }

  &-name {
    font-size: 12px;
    color: $white;
    padding-left: 9px;
    padding-top: 3px;
  }

  &-dd {
    background: $redd2;
    width: 252px;
    border-radius: 3px;
    top: 7px;
    padding-top: 45px;
  }

  &-list {
    color: $redfa;
    padding: 0 20px 5px 13px;
    font-size: 14px;

    &__item {
      border-bottom: 1px solid $redd7;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      position: relative;
      padding: 8px 10px 7px 25px;
      display: block;
      transition: $trans;

      &:hover {
        text-indent: 5px;
        color: $white;

        &:before {
          background: $white;
        }
      }

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $redfa;
        position: absolute;
        display: block;
        left: 4px;
        top: 50%;
        margin-top: -3px;
        transition: $trans;
      }
    }
  }
}
